<style>
    .operation {
{#        text-align: center;#}
    }
    .operation > span {
        margin: 0 5px;
    }
    .add-new-frame-btn {
        margin-bottom: 20px;
        display: inline-block;
        float: right;
    }
    .add-new-frame-btn > button {
        margin: 0 10px;
    }
    .page-header > h1 {
        display: inline-block;
    }
    .page-header {
        margin-top: 10px;
    }
</style>

<div class="page-header">
  <h1>Web Frames Manage <small></small></h1>
</div>

<div class="add-new-frame-btn">
    <button class="btn btn-success add-frame-rule-btn" data-toggle="tooltip"
            title="Add a new web framework scan rule.">Add New Frame Rule</button>
    <button class="btn btn-success add-frame-btn" data-toggle="tooltip"
            title="Add a new wen framework type.">Add New Frame Type</button>
    <button class="btn btn-info show-frame-btn" data-toggle="tooltip"
            title="Add a new wen framework type.">Show Frame Type</button>
    <button class="btn btn-info show-frame-rule-btn" data-toggle="tooltip"
            title="Add a new wen framework type.">Shwo Frame Rules</button>

</div>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Frame Name</th>
        <th>Frame Description</th>
        <th style="text-align: center;">Operation</th>
    </tr>
    </thead>
    <tbody id="main-table">
    {% for frame in data.frames %}
        <tr>
            <td>{{ frame[0] }}</td>
            <td id="f-name-{{ frame[0] }}">{{ frame[1] }}</td>
            <td id="f-content-{{ frame[0] }}">{{ frame[2] }}</td>
            <td class="operation" align="center">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="edit-f-{{ frame[0] }}"
                      data-toggle="tooltip" data-placement="top" title="edit this rule"
                      style="color: darkblue;"></span>
                <span class="glyphicon glyphicon-trash" aria-hidden="true" id="del-f-{{ frame[0] }}"
                      data-toggle="tooltip" data-placement="top" title="delete this rule"
                      style="color: darkred;"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="quick-tip" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body" id="quick-tip-body">
        </div>
        <div class="modal-footer" hidden>
        </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="delete-tip" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body" id="delete-tip-body">
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal" id="delete_web_frame_rule">Delete</button>
        </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        // 设置提示气泡
        $("span").tooltip();
        $("button").tooltip();

        // 点击增加新框架规则按钮
        $(".add-frame-rule-btn").click(function () {
            $("#main-div").load("add_frame_rule");
        });

        // 点击增加框架按钮
        $(".add-frame-btn").click(function () {
            $("#main-div").load("add_frame");
        });

        // 点击显示所有框架规则按钮
        $(".show-frame-rule-btn").click(function () {
            $("#main-div").load("frame_rules");
        });

        // 点击显示所有框架按钮
        $(".show-frame-btn").click(function () {
            $("#main-div").load("frames");
        });

        // 删除规则按钮点击
        $("span[id^=del-f-]").click(function () {
            var web_frame_id = $(this).attr("id").split('-')[2];
            console.log($(this).attr("id"));
            var bodyHtml = 'Would you like to <span style="color: red">delete</span> the web frame?<br />';
            bodyHtml += "Frame: " + $("td[id^=f-name-" + web_frame_id + "]").html() + "<br />";
            $("#delete-tip-body").html(bodyHtml);
            $("#delete-tip").modal();

            $("#delete_web_frame_rule").click(function () {
                $.post("delete_frame", {"id": web_frame_id}, function (retValue) {
                    if (retValue.code == 1001) {
                        $("#quick-tip").modal();
                        $("#quick-tip-body").html("Delete successful");
                        $('#quick-tip').on('hidden.bs.modal', function () {
                            $(".show-frame-btn").click();
                        });
                    } else {
                        $("#quick-tip").modal();
                        $(".modal-body").html(retValue.message);
                    }
                });
            });
        });

        // 编辑规则按钮
        $("span[id^=edit-f-]").click(function () {
            var web_frame_id = $(this).attr("id").split("-")[2];
            $.get("edit_frame/" + web_frame_id, function (tpl) {
                $("#main-div").html(tpl);
            });
        });



    });

</script>