{% extends "backend/common/layout.html" %}
{% block white_list_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}{{ data.title }}{% endblock %}
{% block body %}
    <hr class="aky">
    <form role="form">
        <input type="hidden" name="type" value="{{ data.type }}">
        <input type="hidden" name="id" value="{{ data.id }}">
        <div class="aon gp">
            <label for="project">Project</label>
            <select id="project" class="form-control">
                {% for project in data.projects %}
                    <option value="{{ project.id }}" {% if data.whitelist.project_id == project.id %}selected{% endif %}>
                        {{ project.id }}-{{ project.name }}-{{ project.repository }}-{{ project.author }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="aon gp">
            <label for="rule">Rule</label>
            <select id="rule" class="form-control">
                {% for rule in data.rules %}
                    <option value="{{ rule.id }}" {% if data.whitelist.rule_id == rule.id %}selected{% endif %}>
                        {{ rule.id }}-{{ rule.description }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="aon hb">
            <label for="title">Path</label>
            <input type="text" class="form-control" name="path" value="{{ data.whitelist.path }}" placeholder="White-list path">
        </div>
        <div class="gd">
            <label for="author">Reason</label>
            <input type="text" class="form-control" name="reason" value="{{ data.whitelist.reason }}" placeholder="White-list reason"/>
        </div>
        <div class="aon gh">
            <label for="status">Status</label>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="status" value="1" {% if data.whitelist.status == 1 %}checked{% endif %}>
                    <span class="aoc"></span>
                    On
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="status" value="0" {% if data.whitelist.status == 0 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Off
                </label>
            </div>
        </div>
        <hr class="aky">
        <div class="aon hj akg">
            <div class="akh aki">
                <button type="button" name="submit" class="ce apk fh">Submit</button>
            </div>
            <div class="akh">
                <button class="ce fh apr delete" type="button">
                    <span class="bv xm"></span> Delete
                </button>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        var app = {
            id: function () {
                return $('input[name=id]').val();
            },
            type: function () {
                return $('input[name=type]').val()
            },
            init: function () {
                $('button[name=submit]').click(function () {
                    var project = $('#project').val();
                    var rule = $('#rule').val();
                    var path = $('input[name=path]').val();
                    var reason = $('input[name=reason]').val();
                    var status = $('input[name=status]:checked').val();

                    if (!project || project == "") {
                        notification('project can not be empty!');
                        return false;
                    }
                    if (!rule || rule == "") {
                        notification('rule can not be empty!');
                        return false;
                    }
                    if (!path || path == "") {
                        notification('path can not be empty!');
                        return false;
                    }
                    if (!reason || reason == "") {
                        notification('reason cannot be empty!');
                        return false;
                    }
                    if (!status || status == "") {
                        notification('status cannot be empty!');
                        return false;
                    }

                    data = {
                        'project': project,
                        'rule': rule,
                        'path': path,
                        'reason': reason,
                        'status': status
                    };
                    $.post('/admin/white-list/' + app.type() + '/' + app.id(), data, function (ret) {
                        if (ret.code == 1001) {
                            window.location.href = '/admin/white-list/';
                        } else {
                            notification(ret.message);
                        }
                    });
                });

                if (app.type() == 'create') {
                    $('.delete').hide();
                }


                $('button.delete').click(function () {
                    var button = $(this);
                    var id = button.parents('tr').attr('data-id');
                    if (window.confirm('Do you want to delete this white-list? (ID:' + app.id() + ')')) {
                        $.post("/admin/white-list/delete", {id: app.id()}, function (ret) {
                            if (ret.code == 1001) {
                                window.history.go(-1)
                            } else {
                                alert(data.message);
                            }
                        });
                    }
                });
            }
        };
        app.init();
    </script>
{% endblock %}
