[cobra]
domain: 127.0.0.1

# 0.0.0.0   can bind any domain
# 127.0.0.1 request localhost
host: 127.0.0.1

# default:80
port: 5000
debug: 0

logs_directory: logs

# NOTE: change it to a random string.(32\w)
secret_key: your_secret_key

[upload]
# upload src store path, default: uploads
# NOTE: no '/' or '\' at the end of the directory name.
directory: /tmp/cobra
extensions: tar.bz2|tar|gz|tgz|tar.gz|rar|zip
max_size: 200

[database]
mysql: mysql+mysqldb://root:@127.0.0.1:3306/cobra

[svn]
username:
password:

[git]
username:
password:
