[cobra]
host: 127.0.0.1
port: 5000
debug: 0
logs_directory: logs

# upload src store path, default: uploads
# NOTE: no '/' or '\' at the end of the direcotry name.
upload_directory: uploads

#
# Database
#
[database]
mysql: mysql+mysqldb://root:@127.0.0.1:3306/cobra

#
# Subversion Account
#
[svn]
username:
password:

#
# Git Account
#
[git]
username:
password:
