<form role="form">
    <div class="form-group">
        <label for="vul_id">Vul type</label>
        <select name="scan_type" class="form-control">
            <option value="1">
                SQL Injection
            </option>
            <option value="2">
                XSS
            </option>
            <option value="3">
                Code execute
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="language">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="form-group">
        <label for="regex">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="form-group">
        <label for="description">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
