<form role="form">
    <div class="form-group">
        <label for="project">Project</label>
        <select id="project" class="form-control">
            {% for project in data.projects %}
                <option value="{{ project.id }}">
                {{ project.id }}-{{ project.name }}-{{ project.repository }}-{{ project.author }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="rule">Rule</label>
        <select id="rule" class="form-control">
            {% for rule in data.rules %}
                <option value="{{ rule.id }}">
                {{ rule.id }}-{{ rule.description }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="file">File</label>
        <input type="text" class="form-control" id="path" placeholder="/path/to/white/file" />
    </div>
    <div class="form-group">
        <label for="reason">Reason</label>
        <input type="text" class="form-control" id="reason" />
    </div>
    <div id="add-new-whitelist-result" hidden></div>
    <button type="button" class="btn btn-success" id="add-new-whitelist-button">Add</button>
</form>
