<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <h3>
                Add New Language
                <small></small>
            </h3>
        </div>
    </div>
</div>
<form role="form">
    <div class="form-group">
        <label for="name">Language Name</label>
        <input type="text" class="form-control" id="language"/>
    </div>
    <div class="form-group">
        <label for="description">Languages Extensions</label>
        <textarea class="form-control" id="extensions" placeholder="e.g. .php|.java|.jsp"></textarea>
    </div>
    <div id="add-new-language-result" hidden></div>
    <button type="button" class="btn btn-success" id="add-new-language-button">Add</button>
</form>
