<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Overview
                </h3>
            </div>
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-6 column"><br />
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>Today Overview</b></td>
                                    <td><b>Count</b></td>
                                </tr>
                                <tr>
                                    <td>Today Scan times: </td>
                                    <td>127</td>
                                </tr>
                                <tr>
                                    <td>Today Vulnerabilities: </td>
                                    <td>76</td>
                                </tr>
                                <tr>
                                    <td>Today Projects count: </td>
                                    <td>59</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 column"><br />
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>Total Overview</b></td>
                                    <td><b>Count</b></td>
                                </tr>
                                <tr>
                                    <td>Total Scan times: </td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Total Vulnerabilities: </td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Total Projects count: </td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{#                <div class="panel-footer"></div>#}
        </div>
    </div>
</div>