<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Overview
                </h3>
            </div>
            <!-- Overview -->
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-6 column"><br />
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>Today Overview</b></td>
                                    <td><b>Count</b></td>
                                </tr>
                                <tr>
                                    <td>Today Scan times: </td>
                                    <td>127</td>
                                </tr>
                                <tr>
                                    <td>Today Vulnerabilities: </td>
                                    <td>76</td>
                                </tr>
                                <tr>
                                    <td>Today Projects Count: </td>
                                    <td>59</td>
                                </tr>
                                <tr>
                                    <td>Today Files Count: </td>
                                    <td>174</td>
                                </tr>
                                <tr>
                                    <td>Today Code Lines Count:</td>
                                    <td>3849</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 column"><br />
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>Total Overview</b></td>
                                    <td><b>Count</b></td>
                                </tr>
                                <tr>
                                    <td>Total Scan times: </td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Total Vulnerabilities: </td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Total Projects count: </td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>ToTal Files Count: </td>
                                    <td>471</td>
                                </tr>
                                <tr>
                                    <td>ToTal Code Lines Count:</td>
                                    <td>32849</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- .panel body -->
        </div><!-- .panel -->

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Scan Times
                </h3>
            </div>
            <!-- Overview -->
            <div class="panel-body"><br />
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Average Scanning Time: </td>
                            <td>439 s</td>
                        </tr>
                        <tr>
                            <td>Longest Scanning Time: </td>
                            <td>1932 s</td>
                        </tr>
                        <tr>
                            <td>Shortest Scanning Time: </td>
                            <td>121 s</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- .panel body -->
        </div><!-- .panel -->
    </div>
</div>