<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <h3>
                Edit White List
                <small></small>
            </h3>
        </div>
    </div>
</div>
<form role="form">
    <div class="form-group">
        <label for="project">Project</label>
        <select id="project" class="form-control">
            {% for project in data.projects %}
                <option value="{{ project.id }}" {% if data.whitelist.project_id == project.id %}selected{% endif %}>
                {{ project.id }}-{{ project.name }}-{{ project.repository }}-{{ project.author }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="rule">Rule</label>
        <select id="rule" class="form-control">
            {% for rule in data.rules %}
                <option value="{{ rule.id }}" {% if data.whitelist.rule_id == rule.id %}selected{% endif %}>
                {{ rule.id }}-{{ rule.description }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="path">Path</label>
        <input type="text" class="form-control" id="path" value="{{ data.whitelist.path }}"/>
    </div>
    <div class="form-group">
        <label for="reason">Reason</label>
        <textarea class="form-control" id="reason">{{ data.whitelist.reason }}</textarea>
    </div>
    <div class="form-group">
        <label for="status">Status</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="1"
                   {% if data.whitelist.status == 1 %}checked{% endif %}> On
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="2"
                   {% if data.whitelist.status == 2 %}checked{% endif %}> Off
        </label>
    </div>
    <div id="edit-whitelist-result" hidden></div>
    <button type="button" class="btn btn-success" id="edit-whitelist-button">Save</button>
</form>
