<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <h3>
                Edit Task
                <small></small>
            </h3>
        </div>
    </div>
</div>
<form role="form">
    <div class="form-group">
        <label for="branch">Branch</label>
        <input type="text" class="form-control" id="branch" value="{{ data.task.branch }}"/>
    </div>
    <div class="form-group">
        <label for="scanway">Scan Way</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="radio-inline">
            <input type="radio" name="scanway" id="scanway" value="1"
                   {% if data.task.scanway == 1 %}checked{% endif %}> Full Scan
        </label>
        <label class="radio-inline">
            <input type="radio" name="scanway" id="scanway" value="2"
                   {% if data.task.scanway == 2 %}checked{% endif %}> Diff Scan
        </label>
    </div>
    <div class="form-group">
        <label for="oldversion">Old Version</label>
        <input type="text" class="form-control" id="oldversion" value="{{ data.task.old_version }}">
    </div>
    <div class="form-group">
        <label for="newversion">New Version</label>
        <input type="text" class="form-control" id="newversion" value="{{ data.task.new_version }}">
    </div>
    <div class="form-group">
        <label for="target">Target</label>
        <input type="text" class="form-control" id="target" value="{{ data.task.target }}">
    </div>
    <div id="edit-task-result" hidden></div>
    <button type="button" class="btn btn-success" id="edit-task-button">Save</button>
</form>
