<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>language</th>
            <th>vul type</th>
            <th>description</th>
            <th>last update time</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody id="main-table">
    {% for rule in data.rules %}
        <tr>
            <td>{{ rule.id }}</td>
            <td>{{ rule.language }}</td>
            <td>{{ rule.vul_id }}</td>
            <td>{{ rule.description }}</td>
            <td>{{ rule.updated_at }}</td>
            <td>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="edit-rule-{{ rule.id }}"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" id="view-rule-{{ rule.id }}" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-remove" aria-hidden="true" id="del-rule-{{ rule.id }}"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>