<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Project ID</th>
            <th>Rule ID</th>
            <th>File</th>
            <th>Reason</th>
            <th>last update time</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody id="main-table">
    {% for whitelist in data.whitelists %}
        <tr>
            <td>{{ whitelist.id }}</td>
            <td>{{ whitelist.project_id }}</td>
            <td>{{ whitelist.rule_id }}</td>
            <td>{{ whitelist.file }}</td>
            <td>{{ whitelist.reason }}</td>
            <td>{{ whitelist.updated_at }}</td>
            <td>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="edit-whitelist-{{ whitelist.id }}"></span>&nbsp;&nbsp;
{#                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" id="view-whitelist-{{ whitelist.id }}"#}
{#                      data-toggle="modal" data-target="#view-modal">#}
{#                </span>&nbsp;&nbsp;#}
                <span class="glyphicon glyphicon-remove" aria-hidden="true" id="del-whitelist-{{ whitelist.id }}"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>