<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Branch</th>
            <th>Scan Way</th>
            <th>File Count</th>
            <th>Target</th>
            <th>Last Update Time</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody id="main-table">
    {% for task in data.tasks %}
        <tr>
            <td><a href="{{ task.report }}" target="_blank">{{ task.id }}</a></td>
            <td>{{ task.branch }}</td>
            <td>{{ task.scan_way }}</td>
            <td>{{ task.file_count }}</td>
            <td>{{ task.target }}</td>
            <td>{{ task.updated_at }}</td>
            <td hidden id="task-oldversion-{{ task.id }}">{{ task.old_version }}</td>
            <td hidden id="task-newversion-{{ task.id }}">{{ task.new_version }}</td>
            <td hidden id="task-timestart-{{ task.id }}">{{ task.time_start }}</td>
            <td hidden id="task-timeend-{{ task.id }}">{{ task.time_end }}</td>
            <td hidden id="task-timeconsume-{{ task.id }}">{{ task.time_consume }}</td>
            <td hidden id="task-status-{{ task.id }}">{{ task.status }}</td>
            <td hidden id="task-codenumber-{{ task.id }}">{{ task.codenumber }}</td>
            <td>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="edit-task-{{ task.id }}"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" id="view-task-{{ task.id }}"
                      data-toggle="modal" data-target="#view-modal">
                </span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-remove" aria-hidden="true" id="del-task-{{ task.id }}"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>