{% extends "backend/common/layout.html" %}
{% block tasks_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}Tasks{% endblock %}
{% block body %}
    <div class="akg ue">
        <div class="akh aki">
            <div class="tn aol">
                <input type="text" class="form-control aqr btn-search-tasks" placeholder="Search tasks" value="{{ data.keyword }}">
                <span class="bv adn"></span>
            </div>
        </div>
    </div>
    <div class="ud">
        <div class="eg">
            <table class="cl" data-sort="table">
                <thead>
                <tr>
                    <th>TID</th>
                    <th>Target</th>
                    <th>Time Consume</th>
                    <th>Status</th>
                    <th>Last Update Time</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% if data.total == 0 %}
                    <tr>
                        <td>No one</td>
                    </tr>
                {% endif %}
                {% for task in data.tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td id="task-target-{{ task.id }}">{{ task.target }}</td>
                        <td align="center" id="task-time-consume-{{ task.time_consume }}">{{ task.time_consume }}</td>
                        <td align="center">
                            {% if task.status == 0 %}
                                <span class="glyphicon glyphicon-refresh" style="margin-right: 5px;color: darkcyan;">Init</span>
                            {% elif task.status == 1 %}
                                <span class="glyphicon glyphicon-screenshot" style="margin-right: 5px;color: darkgoldenrod;">Scanning</span>
                            {% elif task.status == 2 %}
                                <span class="glyphicon glyphicon-ok" style="margin-right: 5px;color: darkgreen;">Done</span>
                            {% elif task.status == 3 %}
                                <span class="glyphicon glyphicon-remove" style="margin-right: 5px;color: darkred;">Error</span>
                            {% endif %}
                        </td>
                        <td align="center">{{ task.updated_at }}</td>
                        <td align="center" class="operation">
                            <div class="nz">
                                <button type="button" id="del-task-{{ task.id }}" class="ce apn">
                                    <span class="bv zz"></span>
                                </button>
                            </div>
                        </td>
                        <td hidden id="task-time-start-{{ task.id }}">{{ task.time_start }}</td>
                        <td hidden id="task-time-end-{{ task.id }}">{{ task.time_end }}</td>
                        <td hidden id="task-file-count-{{ task.id }}">{{ task.file_count }}</td>
                        <td hidden id="task-code-number-{{ task.id }}">{{ task.code_number }}</td>
                        <td hidden id="task-branch-{{ task.id }}">{{ task.branch }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="db" id="paginate"></div>
    <input type="hidden" name="page" value="{{ data.page }}">
{% endblock %}
{% block scripts %}
    <script>
        var main = {
            keyword: function () {
                return $('input.btn-search-tasks').val();
            },
            page: function () {
                return $('input[name=page]').val();
            },
            init: function () {
                // pagination
                make_pagination('{{ data.page }}', '{{ data.total }}');

                $(".btn-search-tasks").keyup(function (event) {
                    if (event.keyCode == 13) {
                        if (main.keyword() == "") {
                            window.location.href = '/admin/tasks/' + main.page();
                        } else {
                            window.location.href = '/admin/tasks/' + main.page() + '/' + main.keyword();
                        }
                    }
                });

                $("[id^=del-task-]").click(function () {
                    var tid = $(this).attr("id").split("-")[2];
                    if (window.confirm("Delete this task? " + tid)) {
                        // send delete request
                        $.post("del", {id: tid}, function (data) {
                            if (data.code == 1001) {
                                $('#task-target-' + tid).parent('tr').hide();
                            } else {
                                alert(data.message);
                            }
                        });
                    }
                });
            }
        };
        $(document).ready(function () {
            main.init();
        });
    </script>
{% endblock %}