{% extends "backend/common/layout.html" %}
{% block vulnerability_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}{{ data.title }}{% endblock %}
{% block body %}
    <hr class="aky">
    <form role="form">
        <input type="hidden" name="type" value="{{ data.type }}">
        <input type="hidden" name="id" value="{{ data.id }}">
        <div class="form-group">
            <label for="language">Language</label>
            <input type="text" class="form-control" name="language" value="{{ data.language.language }}" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="extensions">Extensions</label>
            <input type="text" class="form-control" name="extensions" value="{{ data.language.extensions }}" placeholder="e.g. .php|.java|.jsp"/>
        </div>
        <hr class="aky">
        <div class="aon hj akg">
            <div class="akh aki">
                <button type="button" name="submit" class="ce apk fh">Submit</button>
            </div>
            <div class="akh">
                <button class="ce fh apr delete" type="button">
                    <span class="bv xm"></span> Delete
                </button>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        var app = {
            id: function () {
                return $('input[name=id]').val();
            },
            type: function () {
                return $('input[name=type]').val()
            },
            init: function () {
                $('button[name=submit]').click(function () {
                    var language = $('input[name=language]').val();
                    var extensions = $('input[name=extensions]').val();

                    if (!language || language == "") {
                        notification('name can not be empty!');
                        return false;
                    }
                    if (!extensions || extensions == "") {
                        notification('description can not be empty!');
                        return false;
                    }

                    data = {
                        'language': language,
                        'extensions': extensions
                    };
                    $.post('/admin/language/' + app.type() + '/' + app.id(), data, function (ret) {
                        if (ret.code == 1001) {
                            window.location.href = '/admin/language/';
                        } else {
                            notification(ret.message);
                        }
                    });
                });

                if (app.type() == 'create') {
                    $('.delete').hide();
                }

                $('button.delete').click(function () {
                    var button = $(this);
                    var id = button.parents('tr').attr('data-id');
                    if (window.confirm('Do you want to delete this language? (ID:' + app.id() + ')')) {
                        $.post("/admin/language/delete", {id: app.id()}, function (ret) {
                            if (ret.code == 1001) {
                                window.history.go(-1)
                            } else {
                                alert(data.message);
                            }
                        });
                    }
                });
            }
        };
        app.init();
    </script>
{% endblock %}