<button type="button" class="btn btn-primary btn-block" id="add_new_language">Add Language</button>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Extensions</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody id="main-table">
    {% for language in data.languages %}
        <tr>
            <td>{{ language.id }}</td>
            <td>{{ language.language }}</td>
            <td>{{ language.extensions }}</td>
            <td>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="edit-language-{{ language.id }}"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-remove" aria-hidden="true" id="del-language-{{ language.id }}"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>