<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>Request failed</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Cobra</h2>
            </div>
            <hr>
            <ul class="nav nav-tabs">
                <li class="active"><a data-id="err" data-toggle="tab">Error</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="err">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <address>
                                        {% if msg %}
                                            <h5 class="text-danger">{{ msg }}</h5>
                                        {% endif %}
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'simple-footer.html' %}
</body>