<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vulnerabilities List</title>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/report.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/material.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/addon/fold/foldgutter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/addon/dialog/dialog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/addon/search/matchesonscrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/addon/scroll/simplescrollbars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/addon/display/fullscreen.css') }}">
    <script src="{{ url_for('static', filename='codemirror/addon/fold/foldcode.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/fold/foldgutter.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/fold/markdown-fold.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/fold/comment-fold.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/fold/xml-fold.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/fold/brace-fold.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/display/placeholder.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/display/fullscreen.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/display/panel.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/edit/matchbrackets.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/edit/matchtags.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/dialog/dialog.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/search/searchcursor.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/search/search.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/scroll/annotatescrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/search/matchesonscrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/search/jump-to-line.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/search/match-highlighter.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/scroll/simplescrollbars.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/selection/active-line.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/markdown/markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/javascript/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/css/css.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/yaml/yaml.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/php/php.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/ruby/ruby.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/perl/perl.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/lua/lua.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/go/go.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/cmake/cmake.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/shell/shell.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/sql/sql.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/clike/clike.js') }}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Cobra</h2>
            </div>
            <hr>
            <ul class="nav nav-tabs">
                <li class="active"><a data-id="vul" data-toggle="tab">Vulnerabilities</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="vul">
                    <div class="row">
                        <div class='col-md-3 p0'>
                            <div id="panel-2" class="vl_panel"><strong>Vulnerabilities</strong><a
                                    title="Setting vulnerabilities filter" class="cog-panel filter_setting"><img
                                    class="icon" src="{{ url_for('static', filename='icon/funnel.png') }}" alt="1"></a>
                            </div>
                            <div class="filter">
                                <div class="col-md-12" style="margin-top: 10px">
                                    <label for="search_target" style="color: #aaaaaa;">Target</label>
                                    <select id="search_target" class="form-control" style="height: 30px;">
                                        <option value="all">All</option>
                                        {% for target in target_filter %}
                                            <option value="{{ target }}">{{ target }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px">
                                    <label for="search_rule" style="color: #aaaaaa;">Mode</label>
                                    <select id="search_rule" class="form-control" style="height: 30px;">
                                        <option value="all">All</option>
                                        {% for rule in rule_filter %}
                                            <option value="{{ rule }}">{{ rule }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;">
                                    <label for="search_level" style="color: #aaaaaa;">Level</label>
                                    <select id="search_level" class="form-control" style="height: 30px;">
                                        <option value="all">All</option>
                                        <option value="3">High</option>
                                        <option value="2">Medium</option>
                                        <option value="1">Low</option>
                                    </select>
                                </div>
                                <div class="col-md-12" style="padding:20px 30%">
                                    <button class="btn btn-success filter_btn" style="">Summit filter</button>
                                </div>
                            </div>
                            <ul class='vulnerabilities_list scroll'>
                            </ul>
                        </div>
                        <div class='col-md-9 p0 form_code'>
                            <textarea id='code'>// This is a demo code</textarea>
                            <div class='cm-loading' style='display:none;'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-list">
        <ul class="widget-trigger">
            <li>
                <img class="icon" src="{{ url_for('static', filename='icon/v-card.png') }}" alt="Commit Author"> <span
                    class="commit-author"></span> <img class="icon"
                                                       src="{{ url_for('static', filename='icon/calendar.png') }}"
                                                       alt="Commit Time"> <span class="commit-time"></span>
            </li>
            <li>
                Status: <span class="v-status"></span> (<span class="v-repair"></span>)
            </li>
            <li>
                Level: <span class="v-level"></span> <span class="v-type"></span> - <span class="v-rule"></span> By
                <span class="v-rule-author"></span>
            </li>
            <li>
                Repair AT: <span class="v-repair-time"></span> Repair: <span class="v-repair-description"></span>
            </li>
            <li class="hidden">
                Score: <span></span> CWE: <span></span> OWASP Top10: <span></span> SANA 25 Rank: <span></span> Bounty:
                <span></span>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <p style="float:left;">
                    Copyright &copy; 2017 <a href="https://github.com/wufeifei/cobra" target="_blank">Cobra</a>. All
                    rights reserved
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <p style="float:right;">
                    <a href="https://github.com/wufeifei/cobra" target="_blank">Github</a> -
                    <a href="http://cobra-docs.readthedocs.io/" target="_blank">Documents</a> -
                    <a href="http://cobra.feei.cn/" target="_blank">About</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/report.js') }}"></script>
<script>
    var vul_list_origin = {{ scan_data | safe }};
</script>
</body>
</html>