<!-- Header================================================== -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div id="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" width="160"
                                     height="34" alt="City tours" data-retina="true" class="logo_normal"></a>
                    <a href="/"><img src="{{ url_for('static', filename='img/logo_sticky.png') }}" width="160"
                                     height="34" alt="City tours" data-retina="true" class="logo_sticky"></a>
                </div>
            </div>
        </div>
    </div><!-- container -->
</header><!-- End Header -->