<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="page-header">
            <h3>
                Add Project
                <small></small>
            </h3>
        </div>
    </div>
</div>
<form role="form">
    <div class="form-group">
        <label for="name">Project Name</label>
        <input type="text" class="form-control" id="name" value=""/>
    </div>
    <div class="form-group">
        <label for="repository">Project Path</label>
        <input type="text" class="form-control" id="repository" value=""/>
    </div>
    <div class="form-group">
        <label for="branch">Author</label>
        <input type="text" class="form-control" id="author" value=""/>
    </div>
    <div class="form-group">
        <label for="branch">Remark</label>
        <textarea class="form-control" id="remark"></textarea>
    </div>
    <div id="add-project-result" hidden></div>
    <button type="button" class="btn btn-success" id="add-project-button">Save</button>
</form>
