{% extends "backend/common/layout.html" %}
{% block projects_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}Projects{% endblock %}
{% block body %}
    <div class="akg ue">
        <div class="akh aki">
            <div class="tn aol">
                <input type="text" class="form-control aqr btn-search-projects" placeholder="Search projects" value="{{ data.keyword }}">
                <span class="bv adn"></span>
            </div>
        </div>
        <div class="akh">
            <div class="nz">
                <button type="button" class="ce apn add-project">
                    <span class="bv afg"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="ud">
        <div class="eg">
            <table class="cl" data-sort="table">
                <thead>
                <tr>
                    <th>PID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Remark</th>
                    <th>Last scan time</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% if data.total == 0 %}
                    <tr>
                        <td>No one</td>
                    </tr>
                {% endif %}
                {% for project in data.projects %}
                    <tr>
                        <td><a href="{{ project.report }}" target="_blank">{{ project.id }}</a></td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.author }}</td>
                        <td>{{ project.remark }}</td>
                        <td align="center">
                            {% if project.status %}
                                <span class="bv aae"></span>
                            {% else %}
                                <span class="bv aad"></span>
                            {% endif %}
                        </td>
                        <td>{{ project.last_scan }}</td>
                        <td>
                            <div class="nz">
                                <button type="button" data-id="{{ project.id }}" class="ce apn edit-project">
                                    <span class="bv aez"></span>
                                </button>
                                <button type="button" data-id="{{ project.id }}" class="ce apn delete-project">
                                    <span class="bv zz"></span>
                                </button>
                                <button type="button" data-id="{{ project.id }}" class="ce apn run-project">
                                    <span class="bv aak"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="db" id="paginate"></div>
    <input type="hidden" name="page" value="{{ data.page }}">
{% endblock %}
{% block scripts %}
    <script>
        var main = {
            keyword: function () {
                return $('input.btn-search-projects').val();
            },
            page: function () {
                return $('input[name=page]').val();
            },
            init: function () {
                // pagination
                make_pagination('{{ data.page }}', '{{ data.total }}');

                // search
                $(".btn-search-projects").keyup(function (event) {
                    if (event.keyCode == 13) {
                        if (main.keyword() == "") {
                            alert("keywords can't empty!")
                        } else {
                            window.location.href = '/admin/projects/' + main.page() + '/' + main.keyword();
                        }
                    }
                });

                $(".add-project").click(function () {
                    window.location.href = '/admin/projects/add/';
                });

                $('.edit-project').on('click', function () {
                    var pid = $(this).attr('data-id');
                    window.location.href = '/admin/projects/edit/' + pid;
                });

                $('.delete-project').on('click', function () {
                    var pid = $(this).attr('data-id');
                    var button = $(this);
                    $.post("/admin/projects/del/", {"id": pid}, function (result) {
                        if (result.code == 1001) {
                            button.parents('tr').hide();
                        } else {
                            alert(result.message);
                        }
                    });
                });

                $('.run-project').on('click', function () {
                    var pid = $(this).attr('data-id');
                    var data = {'project_id': pid, 'key': '0dcbe720a3c93b2ab0070b0d5294a97a'}
                    $.ajax({
                        'url': '/api/add',
                        'type': 'post',
                        'data': JSON.stringify(data),
                        'datatype': 'json',
                        'async': true,
                        'contentType': 'application/json;charset=utf-8',
                        'success': function (result) {
                            if (result.code == 1001) {
                                var scan_id = result.result['scan_id'];
                                var data = {'scan_id': scan_id, 'key': '0dcbe720a3c93b2ab0070b0d5294a97a'};

                                function get_status() {
                                    $.ajax({
                                        'url': '/api/status',
                                        'type': 'POST',
                                        'data': JSON.stringify(data),
                                        'dataType': 'json',
                                        'async': false,
                                        'contentType': 'application/json;charset=utf-8',
                                        'success': function (result) {
                                            if (result.result['status'] == 'done') {
                                                alert('Scanning project ' + pid + ' done.');
                                                window.open(result.result['report'], '_blank');
                                            }
                                            else {
                                                setTimeout(get_status, 2000);
                                            }
                                        }
                                    });
                                }

                                get_status();
                            } else {
                                alert(result.result);
                            }
                        }
                    });
                });
            }
        };
        $(document).ready(function () {
            main.init();
        });
    </script>
{% endblock %}
