<button type="button" class="btn btn-primary btn-block" id="add_new_project">Add Project</button>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Project Path</th>
        <th>Remark</th>
        <th>Last scan time</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody id="main-table">
    {% for project in data.projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.author }}</td>
            <td>{{ project.repository }}</td>
            <td>{{ project.remark }}</td>
            <td>{{ project.last_scan }}</td>
            <td>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="edit-project-{{ project.id }}"></span>&nbsp;&nbsp;
                {#                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" id="view-project-{{ project.id }}"#}
                {#                      data-toggle="modal" data-target="#view-modal">#}
                {#                </span>&nbsp;&nbsp;#}
                <span class="glyphicon glyphicon-remove" aria-hidden="true" id="del-project-{{ project.id }}"></span>
&nbsp;&nbsp;
 <span class="glyphicon glyphicon-expand" aria-hidden="true" id="run-project-{{ project.id }}"></span>&nbsp;&nbsp;

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
