{% extends "backend/common/layout.html" %}
{% block rule_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}{{ data.title }}{% endblock %}
{% block body %}
    <hr class="aky">
    <form role="form">
        <input type="hidden" name="type" value="{{ data.type }}">
        <input type="hidden" name="id" value="{{ data.id }}">
        <div class="aon hb">
            <label for="title">Name</label>
            <input type="text" class="form-control" name="name" value="{{ data.rule.description }}" placeholder="Rule name">
        </div>
        <div class="gd">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="author" value="{{ data.rule.author }}" placeholder="Rule author"/>
        </div>
        <div class="aon gp">
            <label for="vul_type">Vulnerability type</label>
            <select id="vul_type" class="form-control">
                {% for vul in data.all_vuls %}
                    <option value="{{ vul.id }}" {% if vul.id == data.rule.vul_id %}selected{% endif %}>
                        {{ vul.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="aon gp">
            <label for="language">Language</label>
            <select id="language" class="form-control">
                {% for lang in data.all_lang %}
                    <option value="{{ lang.id }}" {% if lang.id == data.rule.language %}selected{% endif %}>
                        {{ lang.language }} ({{ lang.extensions }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="aon gh">
            <label for="status">Status</label>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="status" value="1" {% if data.rule.status == 1 %}checked{% endif %}>
                    <span class="aoc"></span>
                    On
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="status" value="0" {% if data.rule.status == 0 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Off
                </label>
            </div>
        </div>
        <div class="aon gh">
            <label>Repair block</label>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="repair-block" value="0" {% if data.rule.block_repair == 0 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Function up
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="repair-block" value="2" {% if data.rule.block_repair == 2 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Current line
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="repair-block" value="1" {% if data.rule.block_repair == 1 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Function down
                </label>
            </div>
        </div>
        <div class="aon gh">
            <label>Level</label>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="level" value="1" {% if data.rule.level == 1 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Low
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="level" value="2" {% if data.rule.level == 2 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Medium
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="level" value="3" {% if data.rule.level == 3 %}checked{% endif %}>
                    <span class="aoc"></span>
                    High
                </label>
            </div>
        </div>
        <div class="aon gp">
            <label for="regex-location">Regex location</label>
            <textarea class="form-control" id="regex-location">{{ data.rule.regex_location }}</textarea>
        </div>
        <div class="aon gp">
            <label for="regex-repair">Regex repair</label>
            <textarea class="form-control" id="regex-repair">{{ data.rule.regex_repair }}</textarea>
        </div>
        <div class="aon hn verify_form">
            <label for="repair">Verify TestCase <a href="http://cobra-docs.readthedocs.io/en/latest/rule/" target="_blank">
                <span class="bv abu" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Click view rule verify detail"></span></a></label>
            <textarea class="form-control" rows="6" id="verify" placeholder="Matched1
***
Matched2
---
Not matched1
***
Not matched2">{{ data.rule.verify }}</textarea>
        </div>
        <div class="aon hn repair_form">
            <label for="repair">Repair Editor</label>
            <textarea class="form-control" rows="8" id="repair">{{ data.rule.repair }}</textarea>
        </div>
        <div class="aon hn">
            <label for="preview">Repair Preview</label>
            <div id="preview"></div>
        </div>
        <hr class="aky">
        <div class="aon hj akg">
            <div class="akh aki">
                <button type="button" name="submit" class="ce apk fh">Save</button>
            </div>
            <div class="akh">
                {#                <a class="ce apk fl" href="#ruleRunModal" data-toggle="modal" style="margin-right:10px;">Run</a>#}
                <a class="ce apk fi" href="#ruleTestModal" data-toggle="modal" style="margin-right:10px;">Test</a>
                <button class="ce fh apr delete-rule" type="button">
                    <span class="bv xm"></span> Delete
                </button>
            </div>
        </div>
    </form>

    <div id="ruleRunModal" class="cb fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="ri">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rule Run</h4>
                </div>
                <div class="modal-body">
                    <p>You're looking at an example modal in the dashboard theme.</p>
                </div>
                <div class="rj">
                    <button type="button" class="ce fh" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="ruleTestModal" class="cb fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="ri">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rule Test</h4>
                </div>
                <div class="modal-body">
                    <p>Test this rule veracity.</p>
                    <div class="form-group">
                        <select class="project" style="width: 100%;">
                            <option value="0">All Project</option>
                            {% for item in data.projects %}
                                <option value="{{ item.id }}">{{ item.name }} ({{ item.repository }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <pre id="test_log" style="min-height: 400px;color: #000;border:1px solid #ec971f;margin-top: 20px;"></pre>
                </div>
                <div class="rj">
                    <button type="button" name="start" class="ce fl" data-dismiss="modal">Start</button>
                    <button type="button" class="ce fi" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet">
    <style>
        .select2-results__option {
            color: black;
        }

        .verify_form .CodeMirror {
            height: 200px;
        }

        .repair_form .CodeMirror {
            height: auto;
        }

        .modal-body .CodeMirror {
            height: 600px !important;
        }

        .verify-status {
            width: 1em;
        }

        #preview {
            width: 100%;
            min-height: 20px;
            border: 1px solid #464646;
            padding: 10px;
        }
    </style>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/material.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/addon/fold/foldgutter.css') }}">
    <script src="{{ url_for('static', filename='codemirror/addon/fold/foldcode.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/fold/foldgutter.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/fold/markdown-fold.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/display/placeholder.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/markdown/markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/javascript/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/css/css.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
    <script>
        var app = {
            id: $('input[name=id]').val(),
            type: $('input[name=type]').val(),
            pid: function () {
                return $('select.project').val();
            },
            marker: function (status) {
                var marker = document.createElement("div");
                marker.style.color = status == 'False' ? '#d4333f' : 'green';
                marker.style.paddingLeft = '0.3em';
                marker.innerHTML = "●";
                return marker;
            },
            init: function () {
                // Rule verify
                var cm_verify = CodeMirror.fromTextArea(document.getElementById("verify"), {
                    mode: 'markdown',
                    theme: 'material',
                    lineNumbers: true,
                    gutters: ["CodeMirror-linenumbers", 'verify-status']
                });
                var doc = cm_verify.getDoc();
                {% for line, status in data.verify.iteritems() %}
                    doc.setGutterMarker({{ line }}, 'verify-status', app.marker('{{ status }}'));
                {% endfor %}

                // Repair
                var delay;
                // Initialize CodeMirror editor with a nice html5 canvas demo.
                var cm_repair = CodeMirror.fromTextArea(document.getElementById('repair'), {
                    mode: 'text/html',
                    theme: 'material',
                    lineNumbers: true,
                    gutters: ["CodeMirror-linenumbers"]
                });
                cm_repair.on("change", function () {
                    clearTimeout(delay);
                    delay = setTimeout(updatePreview, 300);
                });
                function updatePreview() {
                    $('#preview').html(cm_repair.getValue());
                }

                setTimeout(updatePreview, 300);


                $("button[name=submit]").click(function () {
                    var type = $('input[name=type]').val();
                    var id = $('input[name=id]').val();
                    var vul_type = $('#vul_type').val();
                    var lang = $('#language').val();
                    var regex_location = $("#regex-location").val();
                    var description = $('input[name=name]').val();
                    var regex_repair = $("#regex-repair").val();
                    var block_repair = $('input[name=repair-block]:checked').val();
                    var repair = cm_repair.getValue();
                    var verify = cm_verify.getValue();
                    var author = $('input[name=author]').val();
                    var status = $('input[name=status]:checked').val();
                    var level = $('input[name=level]:checked').val();

                    // check data
                    if (!vul_type || vul_type == "") {
                        notification('vulnerability type error.');
                        return false;
                    }
                    if (!lang || lang == "") {
                        notification('language error.');
                        return false;
                    }
                    if (!description || description == "") {
                        notification('description can not be blank.');
                        return false;
                    }
                    if (!regex_location || regex_location == "") {
                        notification("regex location cannot be blank.");
                        return false;
                    }
                    if (!block_repair || block_repair == "") {
                        notification("block repair cannot be blank.");
                        return false;
                    }
                    if (!repair || repair == "") {
                        notification('repair can not be blank.');
                        return false;
                    }
                    if (!verify || verify == "") {
                        notification('verify can not be blank.');
                        return false;
                    }
                    if (!author || author == "") {
                        notification('author can not be blank.');
                        return false;
                    }
                    if (!status || status == "") {
                        notification('status error.');
                        return false;
                    }
                    if (!level || level == "") {
                        notification('level can not be blank.');
                        return false;
                    }

                    // post data
                    var data = {
                        'vul_type': vul_type,
                        'language': lang,
                        'regex_location': regex_location,
                        'regex_repair': regex_repair,
                        'repair_block': block_repair,
                        'description': description,
                        'rule_id': id,
                        'repair': repair,
                        'verify': verify,
                        'author': author,
                        'status': status,
                        'level': level
                    };
                    $.post('/admin/rules/' + type + '/' + id, data, function (res) {
                        if (res.code == 1001) {
                            notification(res.message);
                        } else {
                            notification(res.message);
                        }
                    });
                });

                if (app.type == 'add') {
                    $('.delete-rule').hide();
                }

                $('.delete-rule').on('click', function () {
                    var button = $(this);
                    if (window.confirm("Do you want to delete this rule? (ID:" + app.id + ")")) {
                        $.post("/admin/rules/del/", {"id": app.id}, function (result) {
                            if (result.code == 1001) {
                                window.history.go(-1);
                            } else {
                                alert(result.message);
                            }
                        });
                    }
                });

                // Rule Test
                $(".project").select2({
                    placeholder: 'Select test project'
                });

                $('button[name=start]').click(function (e) {
                    e.preventDefault();
                    if (window.confirm("Start test this rule? (RID: " + app.id + " PID：" + app.pid() + ")")) {
                        $('button[name=start]').attr('disabled', true);
                        $('#test_log').text('Scanning...');
                        $.post("/admin/rules/test/", {"rid": app.id, 'pid': app.pid()}, function (result) {
                            $('button[name=start]').attr('disabled', false);
                            if (result.code == 1001) {
                                $('#test_log').text('');
                                var test_log = CodeMirror(document.getElementById("test_log"), {
                                    value: result.message,
                                    mode: 'markdown',
                                    theme: 'material',
                                    readOnly: true
                                });
                            } else {
                                alert(result.message);
                            }
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            $('button[name=start]').attr('disabled', false);
                            alert("Server error: " + errorThrown);
                        });
                        return false;
                    }
                });
            }
        };
        app.init();
    </script>
{% endblock %}



