<form role="form">
    <div class="form-group">
        <label for="vul_id">Vul type</label>
        <select id="vul_type" class="form-control">
            {% for vul in data.all_vuls %}
                <option value="{{ vul.id }}" {% if vul.id == data.rule.vul_id %}selected{% endif %}>
                    {{ vul.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="language">Language</label>
        <select id="language" class="form-control">
            {% for lang in data.all_lang %}
                <option value="{{ lang.id }}" {% if lang.id == data.rule.language %}selected{% endif %}>
                    {{ lang.language }} ({{ lang.extensions }})
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="regex">Regex In Perl Mode</label>
        <textarea class="form-control" id="regex">{{ data.rule.regex }}</textarea>
    </div>
    <div class="form-group">
        <label for="confirm-regex">Confirm Regex</label>
        <textarea class="form-control" id="confirm-regex">{{ data.rule.regex_confirm }}</textarea>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description">{{ data.rule.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="repair">Repair</label>
        <textarea class="form-control" id="repair">{{ data.rule.repair }}</textarea>
    </div>
    <div class="form-group">
        <label for="status">Status</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="1"
                   {% if data.rule.status == 1 %}checked{% endif %}> On
        </label>
        <label class="radio-inline">
            <input type="radio" name="status" id="status" value="2"
                   {% if data.rule.status == 2 %}checked{% endif %}> Off
        </label>
    </div>
    <div class="form-group">
        <label>Level</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="radio-inline">
            <input type="radio" name="level" id="level" value="1" {% if data.rule.level == 1 %}checked{% endif %}> Low
        </label>
        <label class="radio-inline">
            <input type="radio" name="level" id="level" value="2" {% if data.rule.level == 2 %}checked{% endif %}> Medium
        </label>
        <label class="radio-inline">
            <input type="radio" name="level" id="level" value="3" {% if data.rule.level == 3 %}checked{% endif %}> High
        </label>
    </div>
    <div id="edit-rule-result" hidden></div>
    <button type="button" class="btn btn-success" id="edit-rule-button">Save</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" id="back-rule-button">Back</button>
</form>
