<form role="form">
    <div class="form-group col-md-6" style="padding-left: 0">
        <label for="vul_type">Vul type</label>
        <select id="vul_type" class="form-control">
            {% for vul in data.all_vuls %}
                <option value="{{ vul.id }}" {% if vul.id == data.rule.vul_id %}selected{% endif %}>
                    {{ vul.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-6" style="padding-right: 0">
        <label for="language">Language</label>
        <select id="language" class="form-control">
            {% for lang in data.all_lang %}
                <option value="{{ lang.id }}" {% if lang.id == data.rule.language %}selected{% endif %}>
                    {{ lang.language }} ({{ lang.extensions }})
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="status">Status</label>
        <label class="radio" style="padding-left: 25px;">
            <input type="radio" name="status" id="status" value="1"
                   {% if data.rule.status == 1 %}checked{% endif %}> On
        </label>
        <label class="radio" style="padding-left: 25px;">
            <input type="radio" name="status" id="status" value="0"
                   {% if data.rule.status == 0 %}checked{% endif %}> Off
        </label>
    </div>
    <div class="form-group col-md-4">
        <label>Repair Block</label>
        <label class="radio" style="padding-left: 25px;">
            <input type="radio" name="repair-block" id="repair-block" value="0" {% if data.rule.block_repair == 0 %}checked{% endif %}>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Function Up
        </label>
        <label class="radio" style="padding-left: 25px;">
            <input type="radio" name="repair-block" id="repair-block" value="1" {% if data.rule.block_repair == 1 %}checked{% endif %}>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Function Down
        </label>
    </div>
    <div class="form-group col-md-4">
        <label>Level</label>
        <label class="radio" style="padding-left: 25px;">
            <input type="radio" name="level" id="level" value="1" {% if data.rule.level == 1 %}checked{% endif %}> Low
        </label>
        <label class="radio" style="padding-left: 25px;">
            <input type="radio" name="level" id="level" value="2" {% if data.rule.level == 2 %}checked{% endif %}> Medium
        </label>
        <label class="radio" style="padding-left: 25px;">
            <input type="radio" name="level" id="level" value="3" {% if data.rule.level == 3 %}checked{% endif %}> High
        </label>
    </div>
    <div class="form-group">
        <label for="regex-location">Regex Location</label>
        <textarea class="form-control" id="regex-location">{{ data.rule.regex_location }}</textarea>
    </div>
    <div class="form-group">
        <label for="regex-repair">Regex Repair</label>
        <textarea class="form-control" id="regex-repair">{{ data.rule.regex_repair }}</textarea>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description">{{ data.rule.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="repair">Repair</label>
        <textarea class="form-control" id="repair">{{ data.rule.repair }}</textarea>
    </div>

    <div id="edit-rule-result" hidden></div>
    <div style="text-align: center">
    <button type="button" class="btn btn-success" id="edit-rule-button" style="width: 150px;margin: 20px;">Save</button>
    <button type="button" class="btn btn-primary" id="back-rule-button" style="width: 150px;margin: 20px;">Back</button>
    </div>
</form>
