{% extends "backend/common/layout.html" %}
{% block rule_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}{{ data.title }}{% endblock %}
{% block body %}
    <hr class="aky">
    <form role="form">
        <input type="hidden" name="type" value="{{ data.type }}">
        <input type="hidden" name="id" value="{{ data.id }}">
        <div class="aon hb">
            <label for="title">Name</label>
            <input type="text" class="form-control" name="name" value="{{ data.rule.description }}" placeholder="Rule name">
        </div>
        <div class="gd">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="author" value="{{ data.rule.author }}" placeholder="Rule author"/>
        </div>
        <div class="aon gp">
            <label for="vul_type">Vulnerability type</label>
            <select id="vul_type" class="form-control">
                {% for vul in data.all_vuls %}
                    <option value="{{ vul.id }}" {% if vul.id == data.rule.vul_id %}selected{% endif %}>
                        {{ vul.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="aon gp">
            <label for="language">Language</label>
            <select id="language" class="form-control">
                {% for lang in data.all_lang %}
                    <option value="{{ lang.id }}" {% if lang.id == data.rule.language %}selected{% endif %}>
                        {{ lang.language }} ({{ lang.extensions }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="aon gh">
            <label for="status">Status</label>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="status" value="1" {% if data.rule.status == 1 %}checked{% endif %}>
                    <span class="aoc"></span>
                    On
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="status" value="0" {% if data.rule.status == 0 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Off
                </label>
            </div>
        </div>
        <div class="aon gh">
            <label>Repair block</label>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="repair-block" value="0" {% if data.rule.block_repair == 0 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Function up
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="repair-block" value="2" {% if data.rule.block_repair == 2 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Current line
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="repair-block" value="1" {% if data.rule.block_repair == 1 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Function down
                </label>
            </div>
        </div>
        <div class="aon gh">
            <label>Level</label>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="level" value="1" {% if data.rule.level == 1 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Low
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="level" value="2" {% if data.rule.level == 2 %}checked{% endif %}>
                    <span class="aoc"></span>
                    Medium
                </label>
            </div>
            <div class="em aob aog">
                <label>
                    <input type="radio" name="level" value="3" {% if data.rule.level == 3 %}checked{% endif %}>
                    <span class="aoc"></span>
                    High
                </label>
            </div>
        </div>
        <div class="aon gp">
            <label for="regex-location">Regex location</label>
            <textarea class="form-control" id="regex-location">{{ data.rule.regex_location }}</textarea>
        </div>
        <div class="aon gp">
            <label for="regex-repair">Regex repair</label>
            <textarea class="form-control" id="regex-repair">{{ data.rule.regex_repair }}</textarea>
        </div>
        <div class="aon hn">
            <label for="repair">Verify <a href="http://cobra-docs.readthedocs.io/en/latest/rule/" target="_blank">
                <span class="bv abu" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="Click view rule verify detail"></span></a></label>
            <textarea class="form-control" rows="6" id="verify">{{ data.rule.verify }}</textarea>
        </div>
        <div class="aon hn">
            <label for="repair">Repair</label>
            <textarea class="form-control" rows="4" id="repair">{{ data.rule.repair }}</textarea>
        </div>
        <hr class="aky">
        <div class="aon hj akg">
            <div class="akh aki">
                <button type="button" name="submit" class="ce apk fh">Edit</button>
            </div>
            <div class="akh">
                <button class="ce fh apr delete-rule" type="button">
                    <span class="bv xm"></span> Delete
                </button>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        var app = {
            id: $('input[name=id]').val(),
            type: $('input[name=type]').val(),
            init: function () {
                $("button[name=submit]").click(function () {
                    var type = $('input[name=type]').val();
                    var id = $('input[name=id]').val();
                    var vul_type = $('#vul_type').val();
                    var lang = $('#language').val();
                    var regex_location = $("#regex-location").val();
                    var description = $('input[name=name]').val();
                    var regex_repair = $("#regex-repair").val();
                    var block_repair = $('input[name=repair-block]:checked').val();
                    var repair = $("#repair").val();
                    var verify = $("#verify").val();
                    var author = $('input[name=author]').val();
                    var status = $('input[name=status]:checked').val();
                    var level = $('input[name=level]:checked').val();

                    // check data
                    if (!vul_type || vul_type == "") {
                        notification('vul type error.');
                        return false;
                    }
                    if (!lang || lang == "") {
                        notification('language error.');
                        return false;
                    }
                    if (!description || description == "") {
                        notification('description can not be blank.');
                        return false;
                    }
                    if (!regex_location || regex_location == "") {
                        notification("regex location cannot be blank.");
                        return false;
                    }
                    if (!block_repair || block_repair == "") {
                        notification("block repair cannot be blank.");
                        return false;
                    }
                    if (!repair || repair == "") {
                        notification('repair can not be blank.');
                        return false;
                    }
                    if (!verify || verify == "") {
                        notification('verify can not be blank.');
                        return false;
                    }
                    if (!author || author == "") {
                        notification('author can not be blank.');
                        return false;
                    }
                    if (!status || status == "") {
                        notification('status error.');
                        return false;
                    }
                    if (!level || level == "") {
                        notification('level can not be blank.');
                        return false;
                    }

                    // post data
                    var data = {
                        'vul_type': vul_type,
                        'language': lang,
                        'regex_location': regex_location,
                        'regex_repair': regex_repair,
                        'repair_block': block_repair,
                        'description': description,
                        'rule_id': id,
                        'repair': repair,
                        'verify': verify,
                        'author': author,
                        'status': status,
                        'level': level
                    };
                    $.post('/admin/rules/' + type + '/' + id, data, function (res) {
                        if (res.code == 1001) {
                            window.history.go(-1);
                        } else {
                            notification(res.message);
                        }
                    });
                });

                if (app.type == 'add') {
                    $('.delete-rule').hide();
                }

                $('.delete-rule').on('click', function () {
                    var button = $(this);
                    if (window.confirm("Do you want to delete this rule? (ID:" + app.id + ")")) {
                        $.post("/admin/rules/del/", {"id": app.id}, function (result) {
                            if (result.code == 1001) {
                                window.history.go(-1);
                            } else {
                                alert(result.message);
                            }
                        });
                    }
                });
            }
        };
        app.init();
    </script>
{% endblock %}



