{% extends "backend/common/layout.html" %}
{% block rule_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}Rules{% endblock %}
{% block body %}
    <div class="akg ue">
        <div class="akh aki">
            <div class="tn aol">
                <input type="text" class="form-control aqr btn-search-rules" placeholder="Search rules" value="{{ data.keyword }}">
                <span class="bv adn"></span>
            </div>
        </div>

        <div class="akh">
            <div class="nz">
                <button type="button" class="ce apn add-rule">
                    <span class="bv afg"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="ud">
        <div class="eg">
            <table class="cl" data-sort="table">
                <thead>
                <tr>
                    <th>RID</th>
                    <th>Language</th>
                    <th>Rule type</th>
                    <th>Description</th>
                    <th>Update Time</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for rule in data.rules %}
                    <tr>
                        <td>{{ rule.id }}</td>
                        <td>{{ rule.language }}</td>
                        <td>{{ rule.vul_id }}</td>
                        <td>{{ rule.description }}</td>
                        <td>{{ rule.updated_at }}</td>
                        <td align="center">
                            {% if rule.status %}
                                <span class="bv aae"></span>
                            {% else %}
                                <span class="bv aad"></span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="nz">
                                <button type="button" data-id="{{ rule.id }}" class="ce apn edit-rule">
                                    <span class="bv xk"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="db" id="paginate"></div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            // pagination
            make_pagination('{{ data.page }}', 'rules');

            // search
            $(".btn-search-rules").keyup(function (event) {
                if (event.keyCode == 13) {
                    var keyword = $(this).val();
                    if (keyword == "") {
                        alert("keywords can't empty!")
                    } else {
                        window.location.href = "/admin/rules/search/" + keyword;
                    }
                }

            });

            $(".add-rule").click(function () {
                window.location.href = '/admin/rules/add/';
            });

            $('.edit-rule').on('click', function () {
                var pid = $(this).attr('data-id');
                window.location.href = '/admin/rules/edit/' + pid;
            });

        });
    </script>
{% endblock %}