<style>
    .operation > span {
        margin: 0 2px;
    }
</style>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Language</th>
            <th>Rule type</th>
            <th>Description</th>
            <th>Update Time</th>
            <th>Status</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody id="main-table">
    {% for rule in data.rules %}
        <tr>
            <td>{{ rule.id }}</td>
            <td>{{ rule.language }}</td>
            <td>{{ rule.vul_id }}</td>
            <td>{{ rule.description }}</td>
            <td>{{ rule.updated_at }}</td>
            <td align="center">
                <span style="color: {% if rule.status %}green{% else %}red{% endif %}"
                      class="glyphicon glyphicon-{% if rule.status %}ok{% else %}remove{% endif %}">
                </span>
            </td>
            <td hidden id="rule-regex-location-{{ rule.id }}">{{ rule.regex_location }}</td>
            <td hidden id="rule-regex-repair-{{ rule.id }}">{{ rule.regex_repair }}</td>
            <td hidden id="rule-block-repair-{{ rule.id }}">{{ rule.block_repair }}</td>
            <td hidden id="rule-repair-{{ rule.id }}">{{ rule.repair }}</td>
            <td hidden id="rule-level-{{ rule.id }}">{{ rule.level }}</td>
            <td align="center" class="operation">
                <span style="color: darkblue;" class="glyphicon glyphicon-pencil" aria-hidden="true" id="edit-rule-{{ rule.id }}"></span>
                <span style="color: darkgoldenrod;" class="glyphicon glyphicon-eye-open" aria-hidden="true" id="view-rule-{{ rule.id }}"
                      data-toggle="modal" data-target="#view-modal">
                </span>
                <span style="color: darkred;" class="glyphicon glyphicon-trash" aria-hidden="true" id="del-rule-{{ rule.id }}"></span>
                <span style="color: darkgreen;" class="glyphicon glyphicon-off" aria-hidden="true" id="update-rule-{{ rule.id }}"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>