<div class="row clearfix" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12 column">
        <div class="page-header">
            <h3>
                Add new Vulnerabilities type
                <small></small>
            </h3>
        </div>
    </div>
</div>
<form role="form">
    <div class="form-group col-md-8">
        <label for="name">Vulnerabilities Name</label>
        <textarea class="form-control" id="name"></textarea>
    </div>
    <div class="form-group col-md-4">
        <label for="repair">Third Vulnerabilities ID</label>
        <input type="text" name="third_v_id" placeholder="第三方漏洞管理平台ID(没有可不填)" class="form-control"/>
    </div>
    <div class="form-group col-md-12">
        <label for="description">Vulnerabilities Description</label>
        <textarea class="form-control" id="description"></textarea>
    </div>
    <div class="form-group col-md-12">
        <label for="repair">Vulnerabilities Repair</label>
        <textarea class="form-control" id="repair"></textarea>
    </div>
    <div class="col-md-12">
        <div id="add-new-vul-result" hidden></div>
        <button type="button" class="btn btn-success" id="add-new-vul-button">Add</button>
    </div>
</form>
