<button type="button" class="btn btn-primary btn-block" id="add_new_vuls">Add Vul</button>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Third V ID</th>
        <th>Last Update Time</th>
        <th>Operation</th>
    </tr>
    </thead>
    <tbody id="main-table">
    {% for vul in data.vuls %}
        <tr>
            <td>{{ vul.id }}</td>
            <td>{{ vul.name }}</td>
            <td>{{ vul.description }}</td>
            <td>{{ vul.third_v_id }}</td>
            <td>{{ vul.updated_at }}</td>
            <td hidden id="vul-repair-{{ vul.id }}">{{ vul.repair }}</td>
            <td>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="edit-vul-{{ vul.id }}"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" id="view-vul-{{ vul.id }}"
                      data-toggle="modal" data-target="#view-modal"></span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-remove" aria-hidden="true" id="del-vul-{{ vul.id }}"></span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>