@import url("bootstrap.css"); 						        								/* Main Bootstrap */
@import url("animate.min.css");															/* Animate On Page Scroll */
@import url("style.css");																		/* Main theme styles */
@import url("menu.css");																		/* Menu styles */
@import url("responsive.css");																/* Responsive */
@import url("fontello/css/icon_set_1.css");										/* Icon pack */
@import url("fontello/css/icon_set_2.css");										/* Icon pack */
@import url("fontello/css/fontello.css");											/* Icon pack */
@import url("icon_restaurant/css/icon_restaurants.css");			/* Icon pack */
@import url("magnific-popup.css");													/* Lightbox & dialog script */
@import url("pop_up.css");																	/* Popup Advertising */

/*
How to change colors
1) uncomment one of the color variation below
2) rename the color variation logo img inside the img folder to match the default logo file name (logo.png/logo_sticky.png), this avoid to change the logo file name in every page.

DONE!
*/

/* @import url("color-aqua.css");					 	 Color variation aqua */
/* @import url("color-orange.css");					  Color variation Orange */
/* @import url("color-green.css");					     Color variation Green */