<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Cobra扫描数据
                </h3>
            </div>
            <!-- Overview -->
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-12 column"><br/>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><b>数据分类</b></td>
                                <td><b>今日</b></td>
                                <td><b>总共</b></td>
                            </tr>
                            <tr>
                                <td>漏洞数量</td>
                                <td>{{ data.today_vulns_count }}</td>
                                <td>{{ data.total_vulns_count }}</td>
                            </tr>
                            <tr>
                                <td>扫描次数</td>
                                <td>{{ data.today_task_count }}</td>
                                <td>{{ data.total_task_count }}</td>
                            </tr>
                            <tr>
                                <td>项目数量</td>
                                <td>{{ data.today_projects_count }}</td>
                                <td>{{ data.total_projects_count }}</td>
                            </tr>
                            <tr>
                                <td>文件数量</td>
                                <td>{{ data.today_files_count }}</td>
                                <td>{{ data.total_files_count }}</td>
                            </tr>
                            <tr>
                                <td>代码行数</td>
                                <td>{{ data.today_code_number }}</td>
                                <td>{{ data.total_code_number }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 column">
                        <div class="form-inline">
                            <label for="start-time">开始时间: </label>
                            <input class="form-control" type="text" id="start-time" data-date-format="yyyy-mm-dd hh:ii">
                            &nbsp;&nbsp;&nbsp;
                            <label for="end-time">结束时间: </label>
                            <input class="form-control" type="text" id="end-time" data-date-format="yyyy-mm-dd hh:ii">
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-success" id="show-info">查询</button>
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger" id="hide-info">隐藏</button>
                        </div>
                        <div id="information" hidden></div>
                    </div>
                </div>
            </div><!-- .panel body -->
        </div><!-- .panel -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    漏洞分类分布数据
                </h3>
            </div>
            <!-- Vulnerabilities -->
            <div class="panel-body"><br/>
                <div class="col-md-6 column"><br/>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><b>今日漏洞数据</b></td>
                            <td><b>数量</b></td>
                        </tr>
                        {% for ev in data.today_vuls %}
                            <tr>
                                <td>{{ ev.vuls }}</td>
                                <td>{{ ev.counts }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 column"><br/>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><b>全部漏洞数据</b></td>
                            <td><b>数量</b></td>
                        </tr>
                        {% for ev in data.total_vuls %}
                            <tr>
                                <td>{{ ev.vuls }}</td>
                                <td>{{ ev.counts }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- .panel body -->
        </div><!-- .panel -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Cobra数据图表
                </h3>
            </div>
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="form-inline">
                            <label for="g-start-time">开始时间: </label>
                            <input type="text" class="form-control" id="g-start-time">&nbsp;&nbsp;&nbsp;
                            <label for="g-end-time">结束时间: </label>
                            <input type="text" class="form-control" id="g-end-time">&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-success" id="show-data">查询</button>
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-success" id="show-all-data">查看全部数据</button>
                        </div>

                    </div>
                    <div class="col-md-6 column"><br/>
                        <label for="g-vulns">漏洞类型分布统计</label>
                        <canvas id="g-vulns" width="10" height="10"></canvas>
                    </div>
                    <div class="col-md-6 column"><br/>
                        <label for="g-languages">漏洞语言分布统计</label>
                        <canvas id="g-languages" width="10" height="10"></canvas>
                    </div>
                    <div>
                        <label for="g-lines">漏洞趋势</label>
                        <canvas id="g-lines" width="40" height="11"></canvas>
                    </div>
                </div> <!-- .row clearfix -->
            </div> <!-- .panel-body -->
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Cobra扫描耗时统计
                </h3>
            </div>
            <!-- scan times -->
            <div class="panel-body"><br/>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>平均扫描时间(单任务):</td>
                        <td>{{ data.avg_scan_time }} s</td>
                    </tr>
                    <tr>
                        <td>最长扫描时间(单项目):</td>
                        <td>{{ data.max_scan_time }} s</td>
                    </tr>
                    <tr>
                        <td>最短扫描时间(单项目):</td>
                        <td>{{ data.min_scan_time }} s</td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- .panel body -->
        </div><!-- .panel -->
    </div>
</div>