<!DOCTYPE html>
<html lang="en">
{% extends "/common/head.html" %}
<body>
<div class="bw">
    <div class="fu">
        <div class="ge aom">
            <nav class="aot">
                <div class="aon">
                    <button class="amy amz aoo" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                        <span class="ct">Toggle nav</span>
                    </button>
                    <a class="aop cn" href="index.html">
                        <span class="bv act aoq">Cobra</span>
                    </a>
                </div>
                <div class="collapse and" id="nav-toggleable-sm">
                    <form class="aor">
                        <input class="form-control" type="text" placeholder="Search...">
                        <button type="submit" class="fm">
                            <span class="bv adn"></span>
                        </button>
                    </form>
                    <ul class="nav of nav-stacked">
                        <li class="tq">Dashboards</li>
                        <li class="active">
                            <a href="index.html">Overview</a>
                        </li>
                        <li>
                            <a href="order-history/index.html">Tasks</a>
                        </li>
                        <li>
                            <a href="fluid/index.html">Projects</a>
                        </li>
                        <li class="tq">Settings</li>
                        <li>
                            <a href="docs/index.html">
                                White list
                            </a>
                        </li>
                        <li>
                            <a href="http://getbootstrap.com" target="blank">
                                Rules
                            </a>
                        </li>
                        <li>
                            <a href="light/index.html">Vulnerabilities Types</a>
                        </li>
                        <li>
                            <a href="light/index.html">Languages&Extensions</a>
                        </li>
                        <li>
                            <a href="light/index.html" href="#docsModal" data-toggle="modal">Frameworks</a>
                        </li>
                    </ul>
                    <hr class="rw aky">
                </div>
            </nav>
        </div>
        <div class="hc aps">
            <div class="apa">
                <div class="apb">
                    <h6 class="apd">Dashboards</h6>
                    <h2 class="apc">Overview</h2>
                </div>

                <div class="ob ape">
                    <div class="tn aol">
                        <input type="text" value="11/01/16 - 11/08/16" class="form-control" data-provide="datepicker">
                        <span class="bv wt"></span>
                    </div>
                </div>
            </div>

            <hr class="aky">

            <div class="fu db aln">
                <div class="gi ali">
                    <div class="ako ale">
                        <canvas
                                class="ant"
                                width="200" height="200"
                                data-chart="doughnut"
                                data-value="[{ value: {{ data.amount.vulnerabilities_fixed }}, color: '#1bc98e', label: 'Fixed' }, { value: {{ data.amount.vulnerabilities_not_fixed }}, color: '#e64759', label: 'Not fixed' }]"
                                data-segment-stroke-color="#252830">
                        </canvas>
                    </div>
                    <strong class="dh"><b style="color:#e64759;">{{ data.amount.vulnerabilities_not_fixed }}</b>/{{ data.amount.vulnerabilities_fixed }}/{{ data.amount.vulnerabilities_total }}</strong>
                    <h3>Vulnerabilities</h3>
                </div>
                <div class="gi ali">
                    <div class="ako ale">
                        <canvas
                                class="ant"
                                width="200" height="200"
                                data-chart="doughnut"
                                data-value="[{ value: {{ data.amount.rules_on }}, color: '#1bc98e', label: 'ON' }, { value: {{ data.amount.rules_off }}, color: '#e64759', label: 'OFF' }]"
                                data-segment-stroke-color="#252830">
                        </canvas>
                    </div>
                    <strong class="dh"><b style="color:#e64759;">{{ data.amount.rules_off }}</b>/{{ data.amount.rules_on }}/{{ data.amount.rules_total }}</strong>
                    <h3>Rules</h3>
                </div>
                <div class="gi ali">
                    <div class="ako ale">
                        <canvas
                                class="ant"
                                width="200" height="200"
                                data-chart="doughnut"
                                data-value="[{ value: 100, color: '#1bc98e', label: 'Fixed' }, { value: 260, color: '#e64759', label: 'Not fixed' }]"
                                data-segment-stroke-color="#252830">
                        </canvas>
                    </div>
                    <strong class="dh">Vulnerabilities(Low-risk)</strong>
                </div>
            </div>

            <div class="anv alg ala">
                <h3 class="anw anx">Statistics</h3>
            </div>

            <div class="fu apt">
                <div class="gq gg ala">
                    <div class="apu ano">
                        <div class="alz">
                            <span class="anj">Projects</span>
                            <h2 class="ani">
                                {{ data.amount.projects }}
                                <small class="ank anl">5%</small>
                            </h2>
                            <hr class="ans akt">
                        </div>
                        <canvas id="sparkline1" width="378" height="94" class="apv" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
                    </div>
                </div>
                <div class="gq gg ala">
                    <div class="apu anr">
                        <div class="alz">
                            <span class="anj">Tasks</span>
                            <h2 class="ani">
                                {{ data.amount.tasks }}
                                <small class="ank anm">1.3%</small>
                            </h2>
                            <hr class="ans akt">
                        </div>
                        <canvas id="sparkline1" width="378" height="94" class="apv" data-chart="spark-line" data-value="[{data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
                    </div>
                </div>
                <div class="gq gg ala">
                    <div class="apu anp">
                        <div class="alz">
                            <span class="anj">Files</span>
                            <h2 class="ani">
                                {{ data.amount.files }}
                                <small class="ank anl">6.75%</small>
                            </h2>
                            <hr class="ans akt">
                        </div>
                        <canvas id="sparkline1" width="378" height="94" class="apv" data-chart="spark-line" data-value="[{data:[12,38,32,60,36,54,68]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
                    </div>
                </div>
                <div class="gq gg ala">
                    <div class="apu anq">
                        <div class="alz">
                            <span class="anj">Lines</span>
                            <h2 class="ani">
                                {{ data.amount.lines }}
                                <small class="ank anm">1.3%</small>
                            </h2>
                            <hr class="ans akt">
                        </div>
                        <canvas id="sparkline1" width="378" height="94" class="apv" data-chart="spark-line" data-value="[{data:[43,48,52,58,50,95,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
                    </div>
                </div>
            </div>

            <hr class="aky">

            <div class="fu">
                <div class="gr ali">
                    <div class="by">
                        <h4 class="ty">
                            Ranks
                        </h4>
                        {% for rank in data.ranks %}
                            <a class="ph" href="#">
                                <span class="tz" style="width: {{ rank[1] }}%;"></span>
                                <span class="dy dh">{{ rank[1] }}</span>
                                {{ rank[0] }}
                            </a>
                        {% endfor %}
                    </div>
                    <a href="#" class="ce apn ame">View all ranks</a>
                </div>
                <div class="gr ali">
                    <div class="by">
                        <h4 class="ty">
                            Hits
                        </h4>
                        {% for hit in data.hits %}
                            <a class="ph" href="#">
                                <span class="dy dh">{{ hit[1] }}</span>
                                {{ hit[0] }}
                            </a>
                        {% endfor %}
                    </div>
                    <a href="#" class="ce apn ame">View all rules</a>
                </div>
            </div>

            <div class="by">
                <h4 class="ty">
                    Types amount of vulnerabilities
                </h4>
                {% for s in data.vulnerabilities_types %}
                    <a class="ph" href="#">
                        <span class="dy dh">{{ s.amount }}</span>
                        {{ s.name }}
                    </a>
                {% endfor %}
            </div>
            <a href="#" class="ce apn ame">View all types</a>

        </div>
    </div>
</div>

<div id="docsModal" class="cb fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="ri">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Example modal</h4>
            </div>
            <div class="modal-body">
                <p>You're looking at an example modal in the dashboard theme.</p>
            </div>
            <div class="rj">
                <button type="button" class="ce fh" data-dismiss="modal">Cool, got it!</button>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/toolkit.js') }}"></script>
<script src="{{ url_for('static', filename='js/application.js') }}"></script>
<script>
    // execute/clear BS loaders for docs
    $(function () {
        while (window.BS && window.BS.loader && window.BS.loader.length) {
            (window.BS.loader.pop())()
        }
    })
</script>
</body>
</html>