{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" type="image/x-icon">
    <link href="/asset/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/asset/js/Chart.js"></script>
{% endblock %}

{% block title %}Cobra Admin{% endblock %}

{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        Cobra
                        <small></small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-2 column" id="left-div">
                <div class="panel panel-primary">
                    <div class="panel-heading">管理</div>
                    <div class="panel-body">
                        <button type="button" class="btn btn-primary btn-block" id="show_dashboard">全局</button>
                        <button type="button" class="btn btn-primary btn-block" id="show_all_tasks">任务</button>
                        <button type="button" class="btn btn-primary btn-block" id="show_all_projects">项目</button>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">配置</div>
                    <div class="panel-body">
                        <button type="button" class="btn btn-primary btn-block" id="show_all_whitelists">白名单</button>
                        <button type="button" class="btn btn-primary btn-block" id="show_all_rules">扫描规则</button>
                        <button type="button" class="btn btn-primary btn-block" id="show_all_vuls">漏洞类型</button>
                        <button type="button" class="btn btn-primary btn-block" id="show_all_languages">语言后缀</button>
                        <button type="button" class="btn btn-primary btn-block" id="show_all_frames">项目框架</button>
                    </div>
                </div>
            </div>
            <div class="col-md-10 column" id="search_rules_bar"></div>
            <div hidden class="col-md-10 column" id="operate_result"></div>
            <div class="modal fade" id="view-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                                <span aria-hidden="true">&times;</span></button>#}
                            <h4 class="modal-title" id="view-title"></h4>
                        </div>
                        <div class="modal-body" style="font-size: 1.2em">
                            <p id="view-body">One fine body&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="col-md-10 column" id="main-div" hidden>
                <h3>Welcome to cobra rules management.</h3>
                <h3>Click left button to select function.</h3>
            </div>
            <div class="col-md-10 column" id="paginate" align="center"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/asset/js/bootstrap-datetimepicker.min.js" charset="utf-8"></script>
    <script src="/asset/js/admin.js" charset="utf-8"></script>
{% endblock %}
