{% extends "backend/common/layout.html" %}
{% block overview_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}Overview{% endblock %}
{% block body %}
    <div class="akg ue">
        <div class="akh aki">
            <div class="tn aol">
                <input type="text" value="{{ data.day_first }}" class="form-control">
                <span class="bv wt"></span>
            </div>
            <div class="tn aol">
                <input type="text" value="{{ data.day_last }}" class="form-control">
                <span class="bv wt"></span>
            </div>
        </div>
        <div class="akh">
            <div class="nz apg api">
                <a type="button" href="?tt=w" class="ce apn {% if data.time_type == 'w' %}active{% endif %}">周报(Weekly)</a>
                <a type="button" href="?tt=m" class="ce apn {% if data.time_type == 'm' %}active{% endif %}">月报(Monthly)</a>
                <a type="button" href="?tt=q" class="ce apn {% if data.time_type == 'q' %}active{% endif %}">季报(Quarterly)</a>
            </div>
        </div>
    </div>
    <div class="anv alg ala">
        <h3 class="anw anx">漏洞数据(Vulnerability data)</h3>
    </div>
    <div class="fu apt alg ala ta te">
        <div class="gh gi apu ala">
            <h3 class="ani dm">
                {{ data.amount.vulnerabilities_not_fixed }}
                <small class="ank anm">0.0%</small>
            </h3>
            <span class="anj">待修复(Not fixed)</span>
        </div>
        <div class="gh gi apu ala">
            <h3 class="ani dj">
                {{ data.amount.vulnerabilities_fixed }}
                <small class="ank anl">0.0%</small>
            </h3>
            <span class="anj">已修复(Fixed)</span>
        </div>
        <div class="gh gi apu ala">
            <h3 class="ani dj">
                {{ data.amount.vulnerabilities_total }}
                <small class="ank anl">0.0%</small>
            </h3>
            <span class="anj">全部(Total)</span>
        </div>
    </div>
    <div class="fu chart" id="chart_vt" style="height:400px;margin-bottom: 20px;">

    </div>
    <div class="fu chart" id="chart_vdd" style="height:500px;">

    </div>
    <div class="fu chart" id="chart_vtd" style="height:500px;">

    </div>
    <div class="anv alg ala">
        <h3 class="anw anx">扫描数据(Scan data)</h3>
    </div>

    <div class="fu apt">
        <div class="gq gs ala">
            <div class="apu ano">
                <div class="alz">
                    <span class="anj">项目数(Projects)</span>
                    <h2 class="ani">
                        {{ data.amount.projects }}
                        <small class="ank anl">0.0%</small>
                    </h2>
                    <hr class="ans akt">
                </div>
                <canvas id="sparkline1" width="378" height="94" class="apv" data-chart="spark-line" data-value="[{data:[28,68,41,43,96,45,100]}]" data-labels="['a','b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
            </div>
        </div>
        <div class="gq gs ala">
            <div class="apu anr">
                <div class="alz">
                    <span class="anj">任务数(Tasks)</span>
                    <h2 class="ani">
                        {{ data.amount.tasks }}
                        <small class="ank anm">0.0%</small>
                    </h2>
                    <hr class="ans akt">
                </div>
                <canvas id="sparkline1" width="378" height="94" class="apv" data-chart="spark-line" data-value="[{data:[4,34,64,27,96,50,80]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
            </div>
        </div>
        <div class="gq gs ala">
            <div class="apu anp">
                <div class="alz">
                    <span class="anj">文件数(Files)</span>
                    <h2 class="ani">
                        {{ data.amount.files }}
                        <small class="ank anl">0.0%</small>
                    </h2>
                    <hr class="ans akt">
                </div>
                <canvas id="sparkline1" width="378" height="94" class="apv" data-chart="spark-line" data-value="[{data:[12,38,32,60,36,54,68]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
            </div>
        </div>
        <div class="gq gs ala">
            <div class="apu anq">
                <div class="alz">
                    <span class="anj">代码行数(Lines)</span>
                    <h2 class="ani">
                        {{ data.amount.lines }}
                        <small class="ank anm">0.0%</small>
                    </h2>
                    <hr class="ans akt">
                </div>
                <canvas id="sparkline1" width="378" height="94" class="apv" data-chart="spark-line" data-value="[{data:[43,48,52,58,50,95,100]}]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 189px; height: 47px;"></canvas>
            </div>
        </div>
    </div>
    <div class="anv alg ala">
        <h3 class="anw anx">规则数据(Rule data)</h3>
    </div>
    <div class="fu apt alg ala ta te">
        <div class="gh gi apu ala">
            <h3 class="ani dm">
                {{ data.amount.rules_on }}
                <small class="ank anl">0.0%</small>
            </h3>
            <span class="anj">开启(ON)</span>
        </div>
        <div class="gh gi apu ala">
            <h3 class="ani dj">
                {{ data.amount.rules_off }}
                <small class="ank anm">0.0%</small>
            </h3>
            <span class="anj">关闭(OFF)</span>
        </div>
        <div class="gh gi apu ala">
            <h3 class="ani dj">
                {{ data.amount.rules_total }}
                <small class="ank anl">0.0%</small>
            </h3>
            <span class="anj">全部(Total)</span>
        </div>
    </div>

    <div class="fu chart" id="chart_rar" style="height:500px;margin-bottom:20px;">

    </div>
    <div class="fu chart" id="chart_rhr" style="height:800px;">

    </div>
    <hr class="aky">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echart_theme/dark.js') }}"></script>
    <script>
        var chart = {
            data: {
                'vt': {
                    'x': [
                        {% for x in data.vt_x %}
                            '{{ x['time'] }}',
                        {% endfor %}
                    ],
                    'y_new': [
                        {% for x in data.vt_x %}
                            {{ x['data']['t'] }},
                        {% endfor %}
                    ],
                    'y_fixed': [
                        {% for x in data.vt_x %}
                            {{ x['data'][2] }},
                        {% endfor %}
                    ],
                },
                'vdd': {
                    "charts": {
                        "支付与金融": 3237,
                        "信息技术": 2164,
                        "安全技术": 7561,
                        "line": 7778,
                        "pie": 7355,
                        "scatter": 2405,
                        "candlestick": 1842,
                        "radar": 2090,
                        "heatmap": 1762,
                        "treemap": 1593,
                        "graph": 2060,
                        "boxplot": 1537,
                        "parallel": 1908,
                        "gauge": 2107,
                        "funnel": 1692,
                        "sankey": 1568
                    }
                },
                'vtd': {
                    "charts": {
                        {% for s in data.vulnerabilities_types %}
                            "{{ s.name }}": {{ s.amount }},
                        {% endfor %}
                    }
                }
            },
            cv: null,
            ctx: null,
            options: {
                'vt': {},
                'vdd': {},
                'vtd': {},
                'rar': {},
                'rhr': {}
            },
            init_option: function () {
                /*
                 * VT (Vulnerability Trend)
                 */
                chart.options['vt'] = {
                    title: {
                        text: '漏洞趋势(VT)'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataView: {readOnly: false},
                            magicType: {type: ['line', 'bar']},
                            restore: {},
                        }
                    },
                    legend: {
                        data: ['新增(New)', '已修复(Fixed)']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: chart.data.vt.x
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '新增(New)',
                            type: 'line',
                            areaStyle: {normal: {}},
                            data: chart.data.vt.y_new
                        },
                        {
                            name: '已修复(Fixed)',
                            type: 'line',
                            areaStyle: {normal: {}},
                            data: chart.data.vt.y_fixed
                        }
                    ]
                };
                /*
                 * VDD (Vulnerability Department Distributing)
                 */
                chart.options['vdd'] = {
                    tooltip: {},
                    title: [{
                        text: 'TODO:漏洞部门分布(VDD)',
                        textAlign: 'left'
                    }],
                    grid: [{
                        top: 50,
                        width: '50%',
                        left: 10,
                        containLabel: true
                    }],
                    xAxis: [{
                        type: 'value',
                        max: chart.data.vdd.all,
                        splitLine: {
                            show: false
                        }
                    }],
                    yAxis: [{
                        type: 'category',
                        data: Object.keys(chart.data.vdd.charts),
                        axisLabel: {
                            interval: 0,
                            rotate: 30
                        },
                        splitLine: {
                            show: false
                        }
                    }],
                    series: [{
                        type: 'bar',
                        stack: 'chart',
                        z: 3,
                        label: {
                            normal: {
                                position: 'right',
                                show: true
                            }
                        },
                        data: Object.keys(chart.data.vdd.charts).map(function (key) {
                            return chart.data.vdd.charts[key];
                        })
                    }, {
                        type: 'pie',
                        radius: [0, '40%'],
                        center: ['75%', '35%'],
                        data: Object.keys(chart.data.vdd.charts).map(function (key) {
                            return {
                                name: key,
                                value: chart.data.vdd.charts[key]
                            }
                        })
                    }]
                };
                /*
                 * VTD (Vulnerability Type Distributing)
                 */
                chart.options['vtd'] = {
                    tooltip: {},
                    title: [{
                        text: '漏洞类型分布(VTD)',
                        textAlign: 'left'
                    }],
                    grid: [{
                        top: 50,
                        width: '50%',
                        left: 10,
                        containLabel: true
                    }],
                    xAxis: [{
                        type: 'value',
                        max: chart.data.vtd.all,
                        splitLine: {
                            show: false
                        }
                    }],
                    yAxis: [{
                        type: 'category',
                        data: Object.keys(chart.data.vtd.charts),
                        axisLabel: {
                            interval: 0,
                            rotate: 30
                        },
                        splitLine: {
                            show: false
                        }
                    }],
                    series: [{
                        type: 'bar',
                        stack: 'chart',
                        z: 3,
                        label: {
                            normal: {
                                position: 'right',
                                show: true
                            }
                        },
                        data: Object.keys(chart.data.vtd.charts).map(function (key) {
                            return chart.data.vtd.charts[key];
                        })
                    }, {
                        type: 'pie',
                        radius: [0, '40%'],
                        center: ['75%', '35%'],
                        data: Object.keys(chart.data.vtd.charts).map(function (key) {
                            return {
                                name: key,
                                value: chart.data.vtd.charts[key]
                            }
                        })
                    }]
                };
                /*
                 * RAR (Rule Author Ranking)
                 */
                chart.options['rar'] = {
                    title: {
                        text: '规则作者排行(RAR)'
                    }
                    ,
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                    ,
                    legend: {
                        data: ['一共(Total)', '开启(On)', '关闭(Off)']
                    }
                    ,
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    }
                    ,
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    }
                    ,
                    yAxis: {
                        type: 'category',
                        data: [{% for rank in data.amount.rule %}
                            '{{ rank['author'] }}',
                        {% endfor %}]
                    }
                    ,
                    series: [
                        {
                            name: '一共(Total)',
                            type: 'bar',
                            data: [{% for rank in data.amount.rule %}
                                {{ rank['total'] }},
                            {% endfor %}]
                        },
                        {
                            name: '开启(On)',
                            type: 'bar',
                            data: [{% for rank in data.amount.rule %}
                                {{ rank['active'] }},
                            {% endfor %}]
                        },
                        {
                            name: '关闭(Off)',
                            type: 'bar',
                            data: [{% for rank in data.amount.rule %}
                                {{ rank['not_active'] }},
                            {% endfor %}]
                        }
                    ]
                };
                /*
                 * Rule Hits Ranking(RHR)
                 */
                chart.options['rhr'] = {
                    title: {
                        text: '规则命中排行(RHR)'
                    }
                    ,
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    }
                    ,
                    legend: {
                        top: 50,
                        orient: 'vertical',
                        x: 'left',
                        data: [{% for hit in data.hits %}
                            '{{ hit['name'] }}',
                        {% endfor %}]
                    }
                    ,
                    series: [
                        {
                            name: '作者命中数量',
                            type: 'pie',
                            selectedMode: 'single',
                            center: ['70%', '50%'],
                            radius: [0, '30%'],
                            label: {
                                normal: {
                                    position: 'inner'
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data: [
                                {% for rank in data.ranks %}
                                    {value: {{ rank[1] }}, name: '{{ rank[0] }}'},
                                {% endfor %}
                            ]
                        },
                        {
                            name: '规则命中数量',
                            type: 'pie',
                            center: ['70%', '50%'],
                            radius: ['40%', '55%'],
                            data: [
                                {% for hit in data.hits %}
                                    {value: {{ hit['rank'] }}, name: '{{ hit['name'] }}'},
                                {% endfor %}
                            ]
                        }
                    ]
                };
            },
            draw: function () {
                chart.init_option();
                for (var k in chart.options) {
                    if (chart.options.hasOwnProperty(k)) {
                        var vt = echarts.init(document.getElementById('chart_' + k), 'dark');
                        vt.setOption(chart.options[k]);
                    }
                }
            }
        };
        chart.draw();
    </script>
{% endblock %}