<form class="form-inline">

    <div class="form-group col-md-4">
        <label for="language">Language</label>
        <select id="search_language" class="form-control" style="width: 60%">
            <option value="all" selected>
                All
            </option>
            {% for language in data.languages %}
                <option value="{{ language.id }}">
                    {{ language.language }} ({{ language.extensions }})
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="vul">Vuls</label>
        <select id="vul" class="form-control" style="width: 80%;">
            <option value="all" selected>
                All
            </option>
            {% for vul in data.vuls %}
                <option value="{{ vul.id }}">
                    {{ vul.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-md-4">
        <button class="btn btn-primary" id="search_rules_button">Search</button>
        <button type="button" class="btn btn-primary" id="add_new_rules">Add Rule</button>
    </div>
</form>
<br />
<hr />
