{% extends "backend/common/layout.html" %}
{% block framework_active %}active{% endblock %}
{% block nav_first %}Dashboards{% endblock %}
{% block nav_second %}Framework{% endblock %}
{% block body %}
    <div class="akg ue">
        <div class="akh aki">
            <div class="tn aol">
                <input type="text" class="form-control aqr btn-search-framework" placeholder="Search framework" value="{{ data.keyword }}">
                <span class="bv adn"></span>
            </div>
        </div>
        <div class="akh">
            <div class="nz">
                <button type="button" class="ce apn create">
                    <span class="bv afg"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="ud">
        <div class="eg">
            <table class="cl" data-sort="table">
                <thead>
                <tr>
                    <th>FID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {% if data.total == 0 %}
                    <tr>
                        <td>No one</td>
                    </tr>
                {% endif %}
                {% for item in data.framework %}
                    <tr data-id="{{ item.id }}">
                        <td>{{ item.id }}</td>
                        <td>{{ item.frame_name }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <div class="nz">
                                <button type="button" class="ce fr apk fe edit">
                                    <span class="bv zt"></span>
                                </button>
                                <button type="button" class="ce fr apk fe view">
                                    <span class="bv ade"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="db" id="paginate"></div>
    <input type="hidden" name="page" value="{{ data.page }}">
{% endblock %}
{% block scripts %}
    <script>
        var app = {
            keyword: function () {
                return $('input.btn-search-framework').val();
            },
            page: function () {
                return $('input[name=page]').val();
            },
            init: function () {
                // pagination
                make_pagination('{{ data.page }}', '{{ data.total }}');

                $(".btn-search-framework").keyup(function (event) {
                    if (event.keyCode == 13) {
                        if (app.keyword() == "") {
                            window.location.href = '/admin/framework/' + app.page();
                        } else {
                            window.location.href = '/admin/framework/' + app.page() + '/' + app.keyword();
                        }
                    }
                });

                $('button.edit').click(function () {
                    var button = $(this);
                    var id = button.parents('tr').attr('data-id');
                    window.location.href = '/admin/framework/edit/' + id;
                });

                $('button.view').click(function () {
                    var button = $(this);
                    var id = button.parents('tr').attr('data-id');
                    window.location.href = '/admin/framework/rule/' + id;

                });

                $('button.create').on('click', function () {
                    window.location.href = '/admin/framework/create'
                });
            }
        };
        $(document).ready(function () {
            app.init();
        });
    </script>
{% endblock %}