<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cobra is a code static scan system">
    <meta name="author" content="Feei <feei@feei.cn>">
    <title>Black Page - Cobra</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" type="image/x-icon">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="asset/css/skins/square/grey.css" rel="stylesheet">
    <link href="asset/css/date_time_picker.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="asset/js/html5shiv.min.js"></script>
    <script src="asset/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-clock"></i><strong>Static Code security scan &
                    analyse</strong></div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul id="top_links">
                        <li><a href="https://github.com/wufeifei/cobra" id="wishlist_link">Github</a></li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div id="logo">
                    <a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" width="160"
                                              height="34" alt="City tours" data-retina="true" class="logo_normal"></a>
                    <a href="index.html"><img src="{{ url_for('static', filename='img/logo_sticky.png') }}" width="160"
                                              height="34" alt="City tours" data-retina="true" class="logo_sticky"></a>
                </div>
            </div>
        </div>
    </div><!-- container -->
</header><!-- End Header -->



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <p>Copyright &copy; 2017 Cobra. All Righsts Reserved</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->

<!-- Common scripts -->
<script src="asset/js/jquery-1.11.2.min.js"></script>
<script src="asset/js/common_scripts_min.js"></script>
<script src="asset/js/functions.js"></script>

<!-- Specific scripts -->
<script src="asset/js/icheck.js"></script>
<script>
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
        radioClass: 'iradio_square-grey'
    });
</script>
<script src="asset/js/bootstrap-datepicker.js"></script>
<script src="asset/js/bootstrap-timepicker.js"></script>
<script>
    $('input.date-pick').datepicker('setDate', 'today');
    $('input.time-pick').timepicker({
        minuteStep: 15,
        showInpunts: false
    })
</script>
<script src="asset/js/jquery.ddslick.js"></script>
<script>
    $("select.ddslick").each(function () {
        $(this).ddslick({
            showSelectedHTML: true
        });
    });
</script>
<script src="asset/js/datepicker_advanced.js"></script>
</body>
</html>