<div class="row">
    <div class="col-md-6">
        <div>
            <p style="float:left;">
                Copyright © 2016 <a href="https://github.com/wufeifei/cobra" target="_blank">Cobra</a>. All
                Righsts Reserved
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <p style="float:right;">
                <a href="https://github.com/wufeifei/cobra" target="_blank">Cobra on Github</a>
            </p>
        </div>
    </div>
</div><!-- End row -->