<!-- Header================================================== -->
<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-clock"></i><strong>Code security audit</strong></div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul id="top_links">
                        <li><a href="/admin/index">Manage</a></li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div id="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" width="160"
                                     height="34" alt="City tours" data-retina="true" class="logo_normal"></a>
                    <a href="/"><img src="{{ url_for('static', filename='img/logo_sticky.png') }}" width="160"
                                     height="34" alt="City tours" data-retina="true" class="logo_sticky"></a>
                </div>
            </div>
        </div>
    </div><!-- container -->
</header><!-- End Header -->