<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="static code scan">
    <meta name="description" content="Cobra is a code static security scan system">
    <meta name="author" content="Feei <wufeifei@wufeifei.com>">
    <title>Cobra - 自动化静态代码安全审计系统</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" type="image/x-icon">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="asset/css/skins/square/grey.css" rel="stylesheet">
    <link href="asset/css/date_time_picker.css" rel="stylesheet">

    <style>
        .bar {
            width: 0%;
            height: 30px;
            background: #18cc18;
            line-height: 30px;
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!--[if lt IE 9]>
    <script src="asset/js/html5shiv.min.js"></script>
    <script src="asset/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-clock"></i><strong>自动化静态代码安全审计系统</strong></div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul id="top_links">
                        <li><a href="/admin/index">管理后台</a></li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div id="logo">
                    <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" width="160"
                                     height="34" alt="City tours" data-retina="true" class="logo_normal"></a>
                    <a href="/"><img src="{{ url_for('static', filename='img/logo_sticky.png') }}" width="160"
                                     height="34" alt="City tours" data-retina="true" class="logo_sticky"></a>
                </div>
            </div>
        </div>
    </div><!-- container -->
</header><!-- End Header -->

<section id="search_container">
    <div id="search">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#config" data-toggle="tab">扫描Git/SVN项目或本地项目</a></li>
            <li><a href="#log" data-toggle="tab">上传压缩包扫描</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="config">
                <h3>Github/Gitlab/Subversion仓库地址</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12" style="padding-left:0;padding-right:0;">
                            <div class="form-group">
                                <label>GIT/SVN仓库地址(.git结尾)或者本地项目路径</label>
                                <input type="text" class="form-control" name="repository" placeholder="例子:http://github.com/wufeifei/grw.git 或 /home/Feei/project_name">
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-left:0;padding-right:0;">
                            <div class="form-group">
                                <label>Gitlab分支</label>
                                <input type="text" class="form-control" name="branch" placeholder="默认为master,可不填写" value="master">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><i class="icon-backward"></i> 老版本号</label>
                                <input name="old_version" class="form-control" type="text" placeholder="可选">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><i class="icon-forward-3"></i> 新版本号</label>
                                <input name="new_version" class="form-control" type="text" placeholder="可选">
                            </div>
                        </div>
                    </div>
                </div><!-- End row -->
                <hr>
                <button class="btn_1 green" id="scan"><i class="icon-search"></i>扫描</button>
            </div><!-- End rab -->
            <div class="tab-pane" id="log">
                <h3>选择一个压缩包扫描</h3>
                <div class="col-md-12">
                    <div class="box_style_2" id="dropbox">
                        <i class="icon-upload-cloud"></i>
                        <h4><span>拖拽</span>文件上传</h4>
                        <div align="center" id="selectFile"></div>
                        <hr>
                        <input type="file" class="btn_1" id="uploadFile" name="file" style="width: 100%;">
                        <small>支持上传的后缀: {{ data.extensions }}</small>
                        <div id="progress">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        {% include "footer.html" %}
    </div><!-- End container -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->

<!-- Common scripts -->
<script src="asset/js/jquery-1.11.2.min.js"></script>
<script src="asset/js/common_scripts_min.js"></script>
<script src="asset/js/functions.js"></script>
<script src="{{ url_for('static', filename='js/jquery.plainoverlay.min.js') }}"></script>
<!-- Upload -->
<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<script>

    // drag and drop upload file
    // prevent browser default action
    $(document).on({
        dragleave: function (e) {
            e.preventDefault();
        },
        drop: function (e) {
            e.preventDefault();
        },
        dragenter: function (e) {
            e.preventDefault();
        },
        dragover: function (e) {
            e.preventDefault();
        }
    });

    var dropbox = document.getElementById('dropbox');
    var fileList = null;
    dropbox.addEventListener("drop", function (e) {
        e.preventDefault();
        fileList = e.dataTransfer.files;
        $('#selectFile').html(fileList[0].name);
    });

    // click and select file to upload
    var files;
    $('input[type=file]').on('change', prepareUpload);
    function prepareUpload(event) {
        files = event.target.files;
    }

    $(function () {

        // Tab1
        $("#scan").on('click', function (e) {
            e.preventDefault();
            $('.tab-content').plainOverlay('show');
            var url = $("input[name=repository]").val();
            var branch = $("input[name=branch]").val();
            var old_version = $("input[name=old_version]").val();
            var new_version = $("input[name=new_version]").val();

            var data = {
                'target': url,
                'branch': branch,
                'old_version': old_version,
                'new_version': new_version,
                'key': "{{ data.key }}"
            };
            $.ajax({
                url: '/api/add',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function (result) {
                    if (result.code == 1001) {
                        var scan_id = result.result['scan_id'];
                        var data = {scan_id: scan_id, key: "{{ data.key }}"};

                        function get_status() {
                            $.ajax({
                                url: '/api/status',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                async: false,
                                success: function (result) {
                                    if (result.status == 1001) {
                                        if (result.result['status'] == 'done') {
                                            $('.tab-content').plainOverlay('hide');
                                            window.open(result.result['report'], '_blank');
                                        } else {
                                            setTimeout(get_status, 3000);
                                        }
                                    } else {
                                        alert(result.result);
                                    }
                                }
                            });
                        }

                        get_status();
                    } else {
                        $('.tab-content').plainOverlay('hide');
                        alert(result.result);
                    }
                }
            });
        });
        // Tab2
        var process_bar = $('#progress .bar');
        $('#uploadFile').fileupload({
            url: '/api/upload',
            dataType: 'json',
            done: function (e, data) {
                if (data.result.code == 1001) {
                    var scan_id = data.result.result['scan_id'];
                    var data = {scan_id: scan_id, key: "{{ data.key }}"};

                    function get_status() {
                        $.ajax({
                            url: '/api/status',
                            type: 'POST',
                            data: JSON.stringify(data),
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            async: false,
                            success: function (result) {
                                if (result.status == 1001) {
                                    if (result.result['status'] == 'done') {
                                        $('.tab-content').plainOverlay('hide');
                                        window.open(result.result['report'], '_blank');
                                        process_bar.css('width', '0%');
                                    } else {
                                        setTimeout(get_status, 3000);
                                    }
                                } else {
                                    alert(result.result);
                                }
                            }
                        });
                    }

                    get_status();
                } else {
                    alert(data.result.result);
                }
            },
            start: function (e) {
                $('.tab-content').plainOverlay('show');
                process_bar.css('width', '0%');
            },
            stop: function (e) {
                process_bar.text('scanning...');
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                process_bar.css(
                        'width',
                        progress + '%'
                );
                process_bar.text('uploading(' + progress + '%)');
            }
        });
    });

</script>
</body>
</html>