<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="static code scan">
    <meta name="description" content="Cobra is a code static scan system">
    <meta name="author" content="Feei <wufeifei@wufeifei.com>">
    <title>Cobra - Static Code security scan & analyse</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" type="image/x-icon">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="asset/css/skins/square/grey.css" rel="stylesheet">
    <link href="asset/css/date_time_picker.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="asset/js/html5shiv.min.js"></script>
    <script src="asset/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-clock"></i><strong>Static Code security scan &
                    analyse</strong></div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul id="top_links">
                        <li><a href="/admin/index">Manage</a></li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div id="logo">
                    <a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" width="160"
                                              height="34" alt="City tours" data-retina="true" class="logo_normal"></a>
                    <a href="index.html"><img src="{{ url_for('static', filename='img/logo_sticky.png') }}" width="160"
                                              height="34" alt="City tours" data-retina="true" class="logo_sticky"></a>
                </div>
            </div>
        </div>
    </div><!-- container -->
</header><!-- End Header -->

<section id="search_container">
    <div id="search">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#config" data-toggle="tab">Git/SVN</a></li>
            <li><a href="#log" data-toggle="tab">Upload</a></li>
            <li><a href="#report" data-toggle="tab">Gitlab AccessToken</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="config">
                <h3>Scan & Analyse Configuration</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12" style="padding-left:0;padding-right:0;">
                            <div class="form-group">
                                <label>GIT/SVN Repository</label>
                                <input type="text" class="form-control" name="repository"
                                       placeholder="Type your gitlab/github/subversion repository url">
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-left:0;padding-right:0;">
                            <div class="form-group">
                                <label>Gitlab Branch/Tag</label>
                                <input type="text" class="form-control" name="branch"
                                       placeholder="Type your branch;Default master" value="master">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><i class="icon-backward"></i> Old Version</label>
                                <input name="old_version" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><i class="icon-forward-3"></i> New Version</label>
                                <input name="new_version" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div><!-- End row -->
                <hr>
                <button class="btn_1 green" id="scan"><i class="icon-search"></i>Scan now</button>
            </div><!-- End rab -->
            <div class="tab-pane" id="log">
                <h3>Set config on step1</h3>
                <div class="col-md-12" style="border-left: 1px solid #ddd;">
                    <div class="box_style_2" id="dropbox">
                        <i class="icon-upload-cloud"></i>
                        <h4><span>Drag and Drop</span> File Uploading</h4>
                        <div align="center" id="selectFile"></div>
                        <hr>
                        <input type="file" class="btn_1" id="uploadFile" style="width: 100%;">
                        <small>Support: tar.gz/rar/zip</small>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="report">
                <h3>Wait for the analyse & scan completed</h3>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        {% include "footer.html" %}
    </div><!-- End container -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->

<!-- Common scripts -->
<script src="asset/js/jquery-1.11.2.min.js"></script>
<script src="asset/js/common_scripts_min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.plainoverlay.min.js') }}"></script>
<script src="asset/js/functions.js"></script>
<script>

    // drag and drop upload file
    // prevent browser default action
    $(document).on({
        dragleave: function (e) {
            e.preventDefault();
        },
        drop: function (e) {
            e.preventDefault();
        },
        dragenter: function (e) {
            e.preventDefault();
        },
        dragover: function (e) {
            e.preventDefault();
        }
    });

    var dropbox = document.getElementById('dropbox');
    var fileList = null;
    dropbox.addEventListener("drop", function (e) {
        e.preventDefault();
        fileList = e.dataTransfer.files;
        $('#selectFile').html(fileList[0].name);
    });

    // click and select file to upload
    var files;
    $('input[type=file]').on('change', prepareUpload);
    function prepareUpload(event) {
        files = event.target.files;
    }

    $(function () {

        $("#scan").on('click', function (e) {
            $('.tab-content').plainOverlay('show');
            e.preventDefault();
            var url = $("input[name=repository]").val();
            var branch = $("input[name=branch]").val();
            var old_version = $("input[name=old_version]").val();
            var new_version = $("input[name=new_version]").val();

            var data = {
                'target': url,
                'branch': branch,
                'old_version': old_version,
                'new_version': new_version,
                'key': 'c1b6e8d63eb552a9219ee75692a3089df48631e6'
            };
            $.ajax({
                url: '/api/add',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.code == 1001) {
                        var scan_id = result.result['scan_id'];
                        var data = {scan_id: scan_id, key: 'c1b6e8d63eb552a9219ee75692a3089df48631e6'};

                        function get_status() {
                            $.ajax({
                                url: '/api/status',
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                async: false,
                                success: function (result) {
                                    if (result.status == 1001) {
                                        if (result.result['status'] == 'done') {
                                            $('.tab-content').plainOverlay('hide');
                                            window.open(result.result['report'], '_blank');
                                        } else {
                                            setTimeout(get_status, 3000);
                                        }
                                    } else {
                                        alert(result.msg);
                                    }
                                }
                            });
                        }

                        get_status();
                    } else {
                        $('.tab-content').plainOverlay('hide');
                        alert(result.msg);
                    }
                }
            });
        });
    });

</script>
</body>
</html>