<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="static code scan">
    <meta name="description" content="Cobra is a code static scan system">
    <meta name="author" content="Feei <wufeifei@wufeifei.com>">
    <title>Cobra - Static Code security scan & analyse</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="asset/css/skins/square/grey.css" rel="stylesheet">
    <link href="asset/css/date_time_picker.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="asset/js/html5shiv.min.js"></script>
    <script src="asset/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!--[if lte IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-clock"></i><strong>Static Code security scan &
                    analyse</strong></div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul id="top_links">
                        <li><a href="/admin/index">Manage</a></li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div id="logo">
                    <a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" width="160"
                                              height="34" alt="City tours" data-retina="true" class="logo_normal"></a>
                    <a href="index.html"><img src="{{ url_for('static', filename='img/logo_sticky.png') }}" width="160"
                                              height="34" alt="City tours" data-retina="true" class="logo_sticky"></a>
                </div>
            </div>
        </div>
    </div><!-- container -->
</header><!-- End Header -->

<section id="search_container">
    <div id="search">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#config" data-toggle="tab">1.Config</a></li>
            <li><a href="#log" data-toggle="tab">2.Scan</a></li>
            <li><a href="#report" data-toggle="tab">3.Report</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="config">
                <h3>Scan & Analyse Configuration</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12" style="padding-left:0;padding-right:0;">
                            <div class="form-group">
                                <label>GIT/SVN Repository</label>
                                <input type="text" class="form-control" name="repository"
                                       placeholder="Type your gitlab/github/subversion repository url">
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-left:0;padding-right:0;">
                            <div class="form-group">
                                <label>Gitlab Branch/Tag</label>
                                <input type="text" class="form-control" name="branch"
                                       placeholder="Type your branch;Default master" value="master">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><i class="icon-backward"></i> Old Version</label>
                                <input name="old_version" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><i class="icon-forward-3"></i> New Version</label>
                                <input name="new_version" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="border-left: 1px solid #ddd;">
                        <div class="box_style_2" id="dropbox">
                            <i class="icon-upload-cloud"></i>
                            <h4><span>Drag and Drop</span> File Uploading</h4>
                            <div align="center" id="selectFile"></div>
                            <hr>
                            <input type="file" class="btn_1" id="uploadFile" style="width: 100%;">
                            <small>Support: tar.gz/rar/zip</small>
                        </div>
                    </div>
                </div><!-- End row -->
                <hr>
                <button class="btn_1 green" id="scan"><i class="icon-search"></i>Scan now</button>
            </div><!-- End rab -->
            <div class="tab-pane" id="log">
                <h3>Set config on step1</h3>
            </div>
            <div class="tab-pane" id="report">
                <h3>Wait for the analyse & scan completed</h3>
            </div>
        </div>
    </div>
</section><!-- End hero -->
{#<div class="white_bg">#}
{#    <div class="container margin_60">#}
{#        <div class="main_title">#}
{#            <h2>Scan & Analyse <span>Statistic</span> Sort</h2>#}
{#        </div>#}
{#        <div class="row add_bottom_45">#}
{#            <div class="col-md-4 other_tours">#}
{#                <ul>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Tour Eiffel<span#}
{#                            class="other_tours_price">$42</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-30"></i>Shopping tour<span#}
{#                            class="other_tours_price">$35</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-44"></i>Versailles tour<span#}
{#                            class="other_tours_price">$20</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Montparnasse skyline<span#}
{#                            class="other_tours_price">$26</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-44"></i>Pompidue<span class="other_tours_price">$26</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Senna River tour<span#}
{#                            class="other_tours_price">$32</span></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-md-4 other_tours">#}
{#                <ul>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-1"></i>Notredame<span class="other_tours_price">$48</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-4"></i>Lafaiette<span class="other_tours_price">$55</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-30"></i>Trocadero<span#}
{#                            class="other_tours_price">$76</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Open Bus tour<span#}
{#                            class="other_tours_price">$55</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-30"></i>Louvre museum<span#}
{#                            class="other_tours_price">$24</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-3"></i>Madlene Cathedral<span class="other_tours_price">$24</span></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-md-4 other_tours">#}
{#                <ul>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-37"></i>Montparnasse<span#}
{#                            class="other_tours_price">$36</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-1"></i>D'Orsey museum<span#}
{#                            class="other_tours_price">$28</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-50"></i>Gioconda Louvre musuem<span#}
{#                            class="other_tours_price">$44</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-44"></i>Tour Eiffel<span#}
{#                            class="other_tours_price">$56</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-50"></i>Ladefanse<span#}
{#                            class="other_tours_price">$16</span></a>#}
{#                    </li>#}
{#                    <li><a href="#"><i class="icon_set_1_icon-44"></i>Notredame<span#}
{#                            class="other_tours_price">$26</span></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div><!-- End row -->#}
{##}
{#        <div class="banner colored add_bottom_30">#}
{#            <h4>Discover our Top tours <span>from $34</span></h4>#}
{#            <p>#}
{#                Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.#}
{#            </p>#}
{#            <a href="single_tour.html" class="btn_1 white">Read more</a>#}
{#        </div>#}
{#    </div><!-- End container -->#}
{#</div><!-- End white_bg -->#}
{##}
{#<div class="container margin_60">#}
{##}
{#    <div class="main_title">#}
{#        <h2>Some <span>good</span> reasons</h2>#}
{#        <p>#}
{#            Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.#}
{#        </p>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{##}
{#        <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">#}
{#            <div class="feature_home">#}
{#                <i class="icon_set_1_icon-41"></i>#}
{#                <h3><span>+120</span> Premium tours</h3>#}
{#                <p>#}
{#                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor#}
{#                    imperdiet deterruisset.#}
{#                </p>#}
{#                <a href="about.html" class="btn_1 outline">Read more</a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">#}
{#            <div class="feature_home">#}
{#                <i class="icon_set_1_icon-30"></i>#}
{#                <h3><span>+1000</span> Customers</h3>#}
{#                <p>#}
{#                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor#}
{#                    imperdiet deterruisset.#}
{#                </p>#}
{#                <a href="about.html" class="btn_1 outline">Read more</a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">#}
{#            <div class="feature_home">#}
{#                <i class="icon_set_1_icon-57"></i>#}
{#                <h3><span>H24 </span> Support</h3>#}
{#                <p>#}
{#                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor#}
{#                    imperdiet deterruisset.#}
{#                </p>#}
{#                <a href="about.html" class="btn_1 outline">Read more</a>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div><!--End row -->#}
{##}
{#</div><!-- End container -->#}

<footer>
    <div class="container">
        {% include "footer.html" %}
    </div><!-- End container -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->

<!-- Common scripts -->
<script src="asset/js/jquery-1.11.2.min.js"></script>
<script src="asset/js/common_scripts_min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.plainoverlay.min.js') }}"></script>
<script src="asset/js/functions.js"></script>
<script>

    // drag and drop upload file
    // prevent browser default action
    $(document).on({
        dragleave: function (e) {
            e.preventDefault();
        },
        drop: function (e) {
            e.preventDefault();
        },
        dragenter: function (e) {
            e.preventDefault();
        },
        dragover: function (e) {
            e.preventDefault();
        }
    });

    var dropbox = document.getElementById('dropbox');
    var fileList = null;
    dropbox.addEventListener("drop", function (e) {
        e.preventDefault();
        fileList = e.dataTransfer.files;
        $('#selectFile').html(fileList[0].name);
    });

    // click and select file to upload
    var files;
    $('input[type=file]').on('change', prepareUpload);
    function prepareUpload(event) {
        files = event.target.files;
    }

    $(function () {

        $("#scan").on('click', function (e) {
            e.preventDefault();

            var data = new FormData();
            var allowFileTypes = ['.zip', '.rar', '.tar.gz'];
            var url = $("input[name=repository]").val();
            var branch = $("input[name=branch]").val();
            var file = null;
            if (fileList && fileList.length != 0) {
                file = fileList[0];
            } else if (files && files.length != 0) {
                file = files[0];
            }

            if (file) {
                // upload file
                var isAllowUpload = false;
                for (var i = 0; i < allowFileTypes.length; i++) {
                    if (allowFileTypes[i] == file.name.substring(file.name.indexOf('.'))) {
                        isAllowUpload = true;
                    }
                }
                if (!isAllowUpload) {
                    alert('only zip, rar, tar.gz allowed!');
                    return false;
                }
            } else {
                // check if url provide.
                if (!url) {
                    alert("Please provide gitlab url. If your repo is public");
                    return false;
                }
            }

            var scan_way = $("input[name=scan_way]:checked").val();
            var old_version = $("input[name=old_version]").val();
            var new_version = $("input[name=new_version]").val();

            if (!scan_way) {
                alert('please select scan way');
                return false;
            }

            if (scan_way == 2 && !(new_version && old_version)) {
                alert('in diff scan mode, please provide new version and old version.')
                return false;
            }

            data.append('repository', url);
            data.append('branch', branch);
            data.append('scan_way', scan_way);
            data.append('old_version', old_version);
            data.append('new_version', new_version);
            if (fileList && fileList.length != 0) {
                data.append('file', fileList[0]);
            } else if (files && files.length != 0) {
                data.append('file', files[0])
            }

            $.ajax({
                url: 'add',
                type: 'POST',
                contentType: false,
                processData: false,
                data: data,
            }).done(function (result) {
                if (result.code == '1001') {
                    $("#log > h3").text('Scanning...');
                    $('.tab-content').plainOverlay('show');
                    $("ul.nav-tabs > li").eq(1).find('a').trigger('click');
                    /* Check Task Status @TODO */
                } else {
                    alert(result.msg);
                }
            });

        });
    });

</script>

<!-- Specific scripts -->
{#<script src="asset/js/icheck.js"></script>#}
<script>
    {#    $('input').iCheck({#}
    {#        checkboxClass: 'icheckbox_square-grey',#}
    {#        radioClass: 'iradio_square-grey'#}
    {#    });#}
</script>
</body>
</html>