<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cobra is a code static scan system">
    <meta name="author" content="Feei <wufeifei@wufeifei.com>">
    <title>项目({{ data.project_name | upper }})代码安全审计报告 - {{ data.id }}</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" type="image/x-icon">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet"/>
    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        .content {
            text-indent: 30px;
            display: inline-block;
        }

        .sum_number {
            display: inline;
            font-size: 20px;
            color: #F00;
            font-weight: bold;
        }

        pre {
            max-width: 750px;
        }

        #ext_distributing {
            height: 500px;
            margin-bottom: 30px;
        }
    </style>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>项目({{ data.project_name | upper }})代码安全审计报告</h2>
                <h3 class="pull-right">Cobra报告编号 # {{ data.id }}</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <h4>项目信息:</h4>
                        <span class="content"><strong>项目名称: </strong>{{ data.project_name }} (@{{ data.author }})</span><br>
                        <span class="content"><strong>项目域名: </strong>{{ data.project_url|default('Unknown URL', True) }}</span><br>
                        <span class="content"><strong>项目框架: </strong>{{ data.project_framework|default('Unknown Framework', True) }}</span><br>
                        <span class="content"><strong>项目仓库: </strong>{{ data.project_repository }}</span>
                    </address>
                </div>
                <div class="col-xs-6">
                    <address>
                        <h4>扫描信息:</h4>
                        <span class="content"><strong>报告时间: </strong>{{ data.task_created_at }}</span><br>
                        <span class="content"><strong>扫描时间: </strong>{{ data.time_start }} - {{ data.time_end }} ({{ data.time_consume }})</span><br/>
                        <span class="content"><strong>文件数(个): </strong>{{ data.files }}</span><br/>
                        <span class="content"><strong>代码数(行): </strong>{{ data.code_number }}</span><br/>
                    </address>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-id="vul_d" data-toggle="tab">扫描结果</a></li>
                <li><a data-id="vul_l" data-toggle="tab">漏洞列表</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="vul_d">
                    <div class="row">
                        <div class="col-md-9 column">
                            <h4>漏洞分布统计</h4>
                            <div id="vul_distributing" style="height:400px;">
                                {% if data.vul_count == 0 %}
                                    <h3 style="text-align: center;line-height: 400px;font-weight: bold;color: red;">赞, 未检测到漏洞 :)</h3>
                                {% endif %}
                            </div>
                            {#                            <h4>后缀分布统计</h4>#}
                            {#                            <div id="ext_distributing">#}
                            {##}
                            {#                            </div>#}
                        </div>
                        <div class="col-xs-3">
                            <address>
                                <h4>扫描统计</h4>
                                <table class="table table-striped table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>漏洞危害</th>
                                        <th>数量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>高危</td>
                                        <td>{{ data.amount.h }}</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>中危</td>
                                        <td>{{ data.amount.m }}</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>低危</td>
                                        <td>{{ data.amount.l }}</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>共发现漏洞数</td>
                                        <td>{{ data.vul_count }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </address>
                        </div>
                    </div><!-- End row -->
                </div><!-- End rab -->
                <div class="tab-pane" id="vul_l">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-bottom: 100px">
                            <h3 class="panel-title">
                                <strong>漏洞列表</strong>
                                <span class="label label-default">满足筛选条件的漏洞共{{ data.filter_vul_number }}个</span>
                            </h3>
                            <div class="col-md-3" style="margin-top: 10px;">
                                <label for="search_vul_type" style="color: #aaaaaa;">漏洞类型</label>
                                <select id="search_vul_type" class="form-control" style="height: 30px;">
                                    <option value="all">全部</option>
                                    {% for vul in data.select_vul_type %}
                                        <option value="{{ vul }}">{{ vul }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3" style="margin-top: 10px">
                                <label for="search_rule" style="color: #aaaaaa;">触发规则</label>
                                <select id="search_rule" class="form-control" style="height: 30px;">
                                    <option value="all">全部</option>
                                    {% for rule in data.select_rule_type %}
                                        <option value="{{ rule }}">{{ rule }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3" style="margin-top: 10px;">
                                <label for="search_level" style="color: #aaaaaa;">危害等级</label>
                                <select id="search_level" class="form-control" style="height: 30px;">
                                    <option value="all">全部</option>
                                    <option value="3">高危</option>
                                    <option value="2">中危</option>
                                    <option value="1">低位</option>
                                </select>
                            </div>
                            <div class="col-md-3" style="padding-top: 34px;padding-left: 40px;">
                                <button class="btn btn-success" id="search-result-btn" style="width: 200px;height: 30px;padding-top: 4px;">筛选</button>
                            </div>

                        </div>
                        <div class="panel-body">
                            {% if data.vul_count == 0 %}
                                <h3>无漏洞</h3>
                            {% endif %}
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td><strong>等级</strong></td>
                                    <td><strong>触发规则</strong></td>
                                    <td>
                                        <strong>漏洞点</strong>
                                    </td>
                                    <td><strong>操作</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for vulnerability in data.vulnerabilities %}
                                    {% for each_vul in vulnerability.data %}
                                        <tr style="color:{{ each_vul.color }};">
                                            <td>{{ each_vul.level }}</td>
                                            <td>
                                                <div class="tooltip_styled tooltip-effect-1">
                                                    <span class="tooltip-item">{{ each_vul.rule }}</span>
                                                    <div class="tooltip-content">{{ each_vul.repair }}</div>
                                                </div>
                                            </td>
                                            <td>
                                                {% if each_vul.line == 0 %}
                                                    <span style="background-color: #8A8585;color: white;padding: 3px;border-radius: 3px;">{{ each_vul.file }}</span>
                                                    {% if each_vul.verify != '' %}
                                                        <a href="{{ each_vul.verify }}" class="btn_1 green" target="_blank">访问漏洞点</a>
                                                    {% endif %}
                                                {% else %}
                                                    <span style="background-color: #8A8585;color: white;padding: 3px;border-radius: 3px;">{{ each_vul.file }}:{{ each_vul.line }}</span>
                                                    {% if each_vul.verify != '' %}
                                                        <a href="{{ each_vul.verify }}" class="btn_1 green" target="_blank">访问漏洞点</a>
                                                    {% endif %}
                                                    <pre><code class="language-php">{{ each_vul.code }}</code></pre>
                                                {% endif %}
                                            </td>
                                            <td class="text-right">
                                                <div class="tooltip_styled tooltip-effect-1">
                                                    <span class="tooltip-item"><i project_id="{{ data.project_id }}" file_path="{{ each_vul.file }}" rule_id="{{ each_vul.rule_id }}" class="icon_set_1_icon-74"></i></span>
                                                    <div class="tooltip-content">经过审计未发现问题，加入白名单</div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div> <!-- .panel-body -->
                    </div> <!-- .panel panel-default -->
                    <nav style="text-align: center">
                        <ul class="pagination">
                            <li {% if data.current_page == 1 %}class="disabled"{% endif %}>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            {% for i in range(data.total_pages) %}
                                <li {% if i + 1 == data.current_page %}class="active"{% endif %}>
                                    <a href="{{ data.current_url }}&page={{ i + 1 }}">{{ i + 1 }} <span class="sr-only">(current)</span></a>
                                </li>
                            {% endfor %}

                            <li {% if data.current_page == data.total_pages %}class="disabled"{% endif %}>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Containers -->
    {% include "footer.html" %}
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}" charset="utf-8"></script>
    <script>
        // Nav
        $(".nav-tabs li a").on('click', function () {
            var id = $(this).attr('data-id');
            $(".nav-tabs li").removeClass('active');
            $(this).parent('li').addClass('active');
            $(".tab-pane").removeClass('active');
            $('#' + id).addClass('active');
        });

        var types = [];
        var vuls = [];
        {% for chart_vuls in data.chart_vuls_number %}
            types.push('{{ chart_vuls.vuls_name }}');
            vuls.push({value: {{ chart_vuls.vuls_number }}, name: '{{ chart_vuls.vuls_name }}'});
        {% endfor %}
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: types
            },
            series: [
                {
                    name: '漏洞危害等级占比',
                    type: 'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],
                    label: {
                        normal: {
                            position: 'inner'
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                        {%  if data.amount.h != 0 %}
                            {value: {{ data.amount.h }}, name: '高危', selected: true},
                        {% endif %}
                        {%  if data.amount.m != 0 %}
                            {value: {{ data.amount.m }}, name: '中危'},
                        {% endif %}
                        {%  if data.amount.l != 0 %}
                            {value: {{ data.amount.l }}, name: '低危'},
                        {% endif %}
                        {%  if data.amount.u != 0 %}
                            {value: {{ data.amount.u }}, name: '未定级'}
                        {% endif %}
                    ]
                },
                {
                    name: '各类漏洞占比',
                    type: 'pie',
                    radius: ['40%', '55%'],
                    data: vuls
                }
            ]
        };
        {% if data.vul_count != 0 %}
            var vul_distributing = echarts.init(document.getElementById('vul_distributing'));
            vul_distributing.setOption(option);
        {% endif %}

        $('.vul-detail').click(function (event) {
            $(".modal").modal({
                escapeClose: true,
                clickClose: true,
                showClose: true,
                fadeDuration: 100
            });
        });

        // 如果URL中有筛选参数,修改select控件的值,并且自动跳转到漏洞页
        function checkSearch() {
            var params = window.location.search;
            if (params == "") {
                // 没有筛选参数,返回
                return;
            }
            // 点击漏洞列表
            $("a[data-id='vul_l']").click();

            // 设置select控件的值
            params = params.substring(1);
            params = params.split("&");
            for (var i = 0; i < params.length; i++) {
                console.log(params[i]);
                var temp_data = params[i].split("=");
                $("#" + temp_data[0]).val(unescape(temp_data[1]));
            }
        }
        checkSearch();

        // 点击search按钮
        $("#search-result-btn").click(function () {
            // 获取筛选条件
            var search_vul_type = $("#search_vul_type").val();
            var search_rule = $("#search_rule").val();
            var search_level = $("#search_level").val();

            // 获取当前URL,不包含参数
            var current_url = window.location.href.split("?");
            current_url = current_url[0];

            // 拼接跳转URL
            var jump_url = current_url + "?search_vul_type=" + search_vul_type + "&";
            jump_url += "search_rule=" + search_rule + "&";
            jump_url += "search_level=" + search_level;

            // 跳转
            window.location.href = jump_url;
        });

        {#        $(function () {#}
        /* Ext Chart */
        {#            var ext_distributing = echarts.init(document.getElementById('ext_distributing'));#}
        {#            ext_distributing.showLoading();#}
        {##}
        {#            $.get('/ext/{{ data.id }}', function (result) {#}
        {#                if (result.code == 1001) {#}
        {#                    var diskData = result.result;#}
        {#                    ext_distributing.hideLoading();#}
        {##}
        {#                    function colorMappingChange(value) {#}
        {#                        var levelOption = getLevelOption(value);#}
        {#                        chart.setOption({#}
        {#                            series: [{#}
        {#                                levels: levelOption#}
        {#                            }]#}
        {#                        });#}
        {#                    }#}
        {##}
        {#                    var formatUtil = echarts.format;#}
        {##}
        {#                    function getLevelOption() {#}
        {#                        return [#}
        {#                            {#}
        {#                                itemStyle: {#}
        {#                                    normal: {#}
        {#                                        borderWidth: 0,#}
        {#                                        gapWidth: 5#}
        {#                                    }#}
        {#                                }#}
        {#                            },#}
        {#                            {#}
        {#                                itemStyle: {#}
        {#                                    normal: {#}
        {#                                        gapWidth: 1#}
        {#                                    }#}
        {#                                }#}
        {#                            },#}
        {#                            {#}
        {#                                colorSaturation: [0.35, 0.5],#}
        {#                                itemStyle: {#}
        {#                                    normal: {#}
        {#                                        gapWidth: 1,#}
        {#                                        borderColorSaturation: 0.6#}
        {#                                    }#}
        {#                                }#}
        {#                            }#}
        {#                        ];#}
        {#                    }#}
        {##}
        {#                    ext_distributing.setOption(option = {#}
        {#                        tooltip: {#}
        {#                            formatter: function (info) {#}
        {#                                var value = info.value;#}
        {#                                var treePathInfo = info.treePathInfo;#}
        {#                                var treePath = [];#}
        {##}
        {#                                for (var i = 1; i < treePathInfo.length; i++) {#}
        {#                                    treePath.push(treePathInfo[i].name);#}
        {#                                }#}
        {##}
        {#                                return [#}
        {#                                    '<div class="tooltip-title">' + formatUtil.encodeHTML(treePath.join('/')) + '</div>',#}
        {#                                    'Amount: ' + formatUtil.addCommas(value),#}
        {#                                ].join('');#}
        {#                            }#}
        {#                        },#}
        {##}
        {#                        series: [#}
        {#                            {#}
        {#                                name: 'Ext',#}
        {#                                type: 'treemap',#}
        {#                                roam: false,#}
        {#                                visibleMin: 300,#}
        {#                                label: {#}
        {#                                    show: true,#}
        {#                                    formatter: '{b}'#}
        {#                                },#}
        {#                                itemStyle: {#}
        {#                                    normal: {#}
        {#                                        borderColor: '#fff'#}
        {#                                    }#}
        {#                                },#}
        {#                                levels: getLevelOption(),#}
        {#                                data: diskData#}
        {#                            }#}
        {#                        ]#}
        {#                    });#}
        {#                } else {#}
        {#                    alert(result.result);#}
        {#                }#}
        {#            }, 'JSON');#}
        {#        });#}
        $(function () {
            $('.icon_set_1_icon-74').click(function () {
                var myself = $(this);
                var rule_id = $(this).attr('rule_id');
                var project_path = $(this).attr('file_path');
                var data = {'project_id': '{{ data.project_id }}', 'rule_id': rule_id, 'path': project_path, 'reason': 'Remark'};
                $.ajax({
                    'url': '/admin/add_whitelist',
                    'type': 'POST',
                    'data': data,
                    //'contentType':'application/json; charset=utf-8',
                    'async': false,
                    'success': function (result) {
                        if (result.tag == 'success') {
                            alert('Add whitelist success!');
                        }
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>

