<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cobra is a code static scan system">
    <meta name="author" content="Feei <wufeifei@wufeifei.com>">
    <title>Cobra Report</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet"/>
    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <style>
        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }

        .content {
            text-indent: 30px;
            display: inline-block;
        }
    </style>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Cobra</h2>
                <h3 class="pull-right">Report ID # {{ data.id }}</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <h4>To:</h4>
                        <span class="content"><strong>Author&nbsp;&nbsp;&nbsp;&nbsp;: </strong>{{ data.author }} </span><br/>
                        <span class="content"><strong>PE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </strong>@puzhi </span><br/>
                        <span class="content"><strong>Security&nbsp;: </strong>@zhijie/@hanshui/@shiqiao </span>
                    </address>
                </div>
                <div class="col-xs-6">
                    <address>
                        <h4>Date:</h4>
                        <span class="content"><strong>Report at: </strong>{{ data.task_created_at }}</span><br>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <h4>Project:</h4>
                        <span class="content"><strong>Project Name: </strong>{{ data.project_name }}</span><br>
                        <span class="content"><strong>Project Repository: </strong>{{ data.project_repository }}</span>
                    </address>
                </div>
                <div class="col-xs-6">
                    <address>
                        <h4>Result:</h4>
                        <span class="content"><strong>Scan Time: </strong>{{ data.scan_time }}</span><br/>
                        <span class="content"><strong>Files: </strong>{{ data.files }}</span><br/>
                        <span class="content"><strong>Vulnerabilities: </strong>{{ data.vulnerabilities_count }}</span><br/>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Vulnerabilities</strong></h3>
                </div>
                <div class="panel-body">

                    {% for vulnerability in data.vulnerabilities %}
                        <h4>{{ vulnerability.vul_type }}</h4>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Level</strong></td>
                                <td><strong>Rule</strong></td>
                                <td>
                                    <strong>Content</strong>
                                </td>
                                <td><strong>Repair</strong></td>
                                <td class="text-right"><strong>Help</strong></td>
                            </tr>
                            </thead>
                            {% for each_vul in vulnerability.data %}
                                <tbody>
                                <tr style="color:{{ each_vul.color }};">
                                    <td>{{ each_vul.level }}</td>
                                    <td>{{ each_vul.rule }}</td>
                                    <td>
                                        <span style="background-color: #8A8585;color: white;padding: 3px;border-radius: 3px;">{{ each_vul.file }}:{{ each_vul.line }}</span>
                                        <pre><code class="language-php">{{ each_vul.code }}</code></pre>
                                    </td>
                                    <td>{{ each_vul.repair }}</td>
                                    <td class="text-right">
                                        <div class="tooltip_styled tooltip-effect-1">
                                            <span class="tooltip-item"><i class="icon_set_1_icon-74"></i></span>
                                            <div class="tooltip-content">误报? 请反馈给我们</div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    {% endfor %}

                </div> <!-- .panel-body -->
            </div> <!-- .panel panel-default -->
        </div>
    </div>

    <hr>
    <!-- Containers -->
    <h3>Help</h3>
    <div class="row">
        <div class="col-md-6">

            <div class="box_style_2">
                <i class="icon_set_1_icon-70"></i>
                <h4>Need Help? <span>TT</span></h4>
                <a href="mactt://message/user/100064" class="phone">@security</a>
                <small>Service Time: 7*8 (09:30am - 06:30pm)</small>
            </div>

        </div><!-- End col-md-6-->
        <div class="col-md-6">

            <div class="box_style_2">
                <i class="icon_set_1_icon-90"></i>
                <h4><span>TT Offline?</span> Phone</h4>
                <a href="mactt://message/user/910">@hanshui</a>/<a href="mactt://message/user/472">@zhijie</a>/<a
                    href="mactt://message/user/1306">@shiqiao</a>
                <br>
                <br>
                <small>Service Time: 7*24h</small>
            </div>

        </div><!-- End col-md-6-->
    </div><!-- End row-->


    <div class="banner">
        <h4>如何 <span>提高代码安全质量?</span></h4>
        <p>跟着安全团队, 45天精通代码安全.</p>
        {#        <a href="" class="btn_1 white">Read more</a>#}
    </div>
    <hr>
    {% include "footer.html" %}
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
</body>
</html>